.articles-slider {
    padding: 60px 140px;
    background-color: #393745;

    &._backround_gray {
        margin-top: 60px;
        margin-bottom: 50px;
        background-color: #EDF1EE;
        
        .home-article-full {
            .headline,
            .underline {
                color: #000;
            }

            .date {
                color: #74737D;
            }
        }
    }

    &:not(._backround_gray) {
        .home-article-full {
            .date {
                color: #BEBEBE;
            }
        }
    }

    .home-article-full {
        margin-top: 0;
        margin-bottom: 0;
    }

    .home-article-full-img {
        margin-left: 52px;
    }
}

.articles-slider-wrapper {
    position: relative;
    margin: 0 auto;
}

.articles-slide {
    color: #fff;
    user-select: none;
}

.articles-slide.home-article-full .underline {
    color: #fff;
}

.articles-slider-arrow {
    position: absolute;
    top: 200px;
    color: $second_color;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    transition: .3s all;
}

.articles-slider-arrow:hover {
    opacity: .5;
}

.articles-slider-arrow-left {
    left: -48px;

}

.articles-slider-arrow-right {
    right: -48px;
}

.articles-slider-dots {
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;    
    list-style: none;    

    li {
        margin: 0 0 0 15px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #BEBEBE;
        border-radius: 50%;
        cursor: pointer;

        &.slick-active {
            background-color: $second_color;
            cursor: default;
        }

        button {
            display: none;
        }
    }

    li:only-child {
        display: none;
    }
}


/* Slick */
.articles-slider .slick-initialized .slick-slide {
    display: flex;
    direction: rtl;
}

.articles-slider .slick-initialized .slick-arrow.slick-disabled {
    color: #BEBEBE;
    cursor: default;
    
    &:hover {
        opacity: 1;
    }
}


/* English */
body {
	&.en {
        .articles-slider .slick-initialized .slick-slide {
            direction: ltr;
        }
    }
}


/* Arabic */
body {
	&.ar {
        .articles-slider-arrow {
            font-size: 32px;
            line-height: 42px;
        }
    }
}


/* Custom */
.articles-slider ~ .home-articles {
    margin-top: 50px;
}

.articles-slider._backround_gray ~ .home-articles {
    margin-top: 50px;
}


/* Media Queries */
@media (max-width: 1470px) {
    .articles-slider {
        padding: 60px;
    }
}

@media (max-width: 1350px) {
    .articles-slider {
        .home-article-full-img {
            width: 55%;
        }
    }

    .home-article-full-content {
        width: 45%;
        padding-left: 15px;
    }
}