.aside-page-navigation {
  width: 300px;
}

.aside-page-navigation-list ul {
  margin: 9px 0 0;
  padding: 0;
  list-style: none;
}

.aside-page-navigation-list ul li {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.aside-page-navigation-list ul li:last-child {
  border-bottom: 1px solid #ccc;
}

.aside-page-navigation-list ul li a {
  color: $second_color;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 1px solid transparent;
  transition: .3s all;
}

.aside-page-navigation-list ul li a.active {
  color: #333;
  cursor: default;
}

.aside-page-navigation-list ul li a:hover {
  border-bottom: 1px solid $second_color;
}

.aside-page-navigation-list ul li a.active:hover {
  border-bottom: 1px solid transparent;
}


/* Arabic */
body {
	&.ar {
    .aside-page-navigation-list ul li a {
      font-size: 13px;
      line-height: 21px;
    }
  }
}