.content-dropdown {
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;

  &.active {
    .content-dropdown-header {
      &:hover {
        opacity: 1;
      }
    }
  }

  &.__type_short_margin {
    margin-bottom: 10px;
  }
}

.content-dropdown-header {
  cursor: pointer;
  user-select: none;
  transition: .3s all;
}

.content-dropdown-header:hover {
  opacity: .6;
}

.content-dropdown-title {
  color: $second_color;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.content-dropdown-header::before {
  position: absolute;
  top: 1px;
  right: -45px;
  color: $second_color;
  font-size: 24px;
  line-height: 30px;
  transform: rotate(90deg);
  transition: transform .3s ease-in-out;
  font-family: 'Gisha' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea17";
}

.content-dropdown-text {
  display: none;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.content-dropdown .content-dropdown-text p {
  margin: 0;
}

/* Active */
.content-dropdown.active .content-dropdown-header::before {
  transform: rotate(0deg);
  transition: transform .3s ease-in-out;
}

.content-dropdown.current .content-dropdown-text {
  display: block;
}


/* English */
body {
	&.en {
    .content-dropdown {
      margin-right: 0;
      margin-left: 40px;
      &.active {
        .content-dropdown-header::before {
          transform: rotate(360deg);
        }
      }

      .content-dropdown-header {
        &:before {
          left: -45px;
          right: unset;
          transform: rotate(270deg);
        }
      }
    }
    
  }
}


/* Arabic */
body {
	&.ar {
		.content-dropdown-title {
			font-size: 20px;
			line-height: 30px;
    }
    
    .content-dropdown-header::before {
      font-size: 20px;
			line-height: 30px;
    }

    .content-dropdown-text,      
    .content-dropdown-text p {      
      font-size: 15px;
      line-height: 30px;
    }
	}
}