.donation-banner {
    margin-right: 20px;
    color: #fff;
    background-color: $main_color;
}

.donation-banner-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: row-reverse;
}

.donation-banner-triangle {
    position: relative;
    width: 215px;
}

.triangle-1 {
    position: absolute;
    top: 0;
    right: 74px;
    width: 50px;
    height: 100%;
    background-color: #71E1C5;
}

.triangle-1:before {
    content: "";
	position: absolute;
	top: 0;
	right: 50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 70px 120px 0;
	border-color: transparent #71E1C5 transparent transparent;	
}

.triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 100%;
    background-color: $third_color;
}

.triangle-2:before {
    content: "";
	position: absolute;
	top: 0;
	right: 88px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 70px 120px 0;
	border-color: transparent $third_color transparent transparent;
}

.triangle-3:before {
    content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 70px 120px 0;
	border-color: transparent $main_color transparent transparent;	
}

.donation-banner-content {
    padding: 35px 25px 30px 0;
    width: 318px;
    box-sizing: content-box;
}

.donation-banner h3 {
    margin: 0 0 7px;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}

.donation-banner p {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

/* English */
body {
	&.en {
		.donation-banner {
            .donation-banner-triangle {
                transform: scale(-1, 1);
                filter: FlipH;
                order: 1;

                .triangle-1:before,
                .triangle-2:before,
                .triangle-3:before {
                    top: -10px;
                    border-width: 140px 70px 140px 0;
                }
            }

            .donation-banner-content {
                padding: 25px 0 30px 25px;
                text-align: left;

                h3 {
                    font-size: 46px;
                    line-height: 40px;
                }

                p {
                    margin-bottom: 11px;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: left;
                }
            }
        }
	}
}


/* Arabic */
body {
	&.ar {
        .donation-banner {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}