.filters {
  width: 300px;
}

.filters h2 {
  margin: 0 0 17px;
}

.filter-item {
  margin-bottom: 10px;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
}

.filter-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
}

.filters-selected {
  margin-bottom: 56px;
  padding-bottom: 16px;
  display: none;
  border-bottom: 1px solid #ccc;
}

.filters-selected-list {
  display: inline-block;
}

.filters-selected-list .filter-selected-item {
  position: relative;
  margin: 0 0 10px 17px;
  padding: 5px 14px 5px 34px;
  display: inline-block;
  height: 28px;
  color: $second_color;
  border: 1px solid $second_color;
  cursor: pointer;
  transition: .3s all;
  color: $second_color;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  user-select: none;
}

.filters-selected-list .filter-selected-item:hover {
  color: #fff;
  background-color: $second_color;
}

.filter-selected-item:before {
  content: "\e924";
  position: absolute;
  left: 11px;
  font-family: 'Gisha' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filters-selected-inner span {
  display: inline-block;
  color: $second_color;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: .3s all;
}

.filters-selected-inner span:hover {
  border-color: $second_color;
}


body {
	&.en {
    .filters {
      h2 {
        text-transform: uppercase;
      }

      .filter-title {
        text-transform: uppercase;
      }
    }

    .filters-selected {
      .filters-selected-inner {
        .filters-selected-list {
          .filter-selected-item {
            margin: 0 17px 10px 0;
            padding: 5px 34px 5px 14px;

            &:before {
              left: unset;
              right: 11px;
            }
          }
        }

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}


/* Arabic */
body {
	&.ar {
    .filter-title {
      font-size: 16px;
			line-height: 24px;
    }
  }
}