.filters {
  width: 300px;
}

.filters h2 {
  margin: 10px 0 17px;
}

.filter-item {
  margin-bottom: 10px;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
}

.filter-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
}