.footer-middle-subscribe p {
	margin: 0;
	color: #fff;
	font-family: "Narkiss Block";
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 20px;
}

.footer-subscription input[type="text"] {
	margin-left: -4px;
	padding: 10px 16px;
	width: 264px;
	height: 34px;
	border: none;
}

.footer-subscription input[type="submit"] {
	position: relative; 
	top: -1px;
	padding: 4px 22px;
	height: 34px;
	background-color: #000;
	border: none;
	color: #9DEFE0;
	font-family: "Narkiss Block";
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
	transition: .3s all;
}

.footer-subscription input[type="submit"]:hover {
	opacity: .7;
}