.footer-middle-subscribe p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 20px;
}

.footer-subscription input[type="text"] {
	position: relative;
	top: -1px;
	margin-left: -3px;
	padding: 12px 16px 10px;
	width: 264px;
	height: 36px;
	border: none;
	color: #8C8C8C;
	font-size: 16px;
	transition: .3s all;
}

.footer-subscription input[type="submit"] {
	padding: 6px 22px 4px;
	height: 36px;
	background-color: #000;
	border: none;
	color: $third_color;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
	transition: .3s all;
}

.footer-subscription input[type="submit"]:hover {
	opacity: .7;
}


/* English */
body {
	&.en {
		.footer-middle-subscribe {
			p {
				position: relative;
				top: 3px;
			}

			.footer-subscription {
				position: relative;
				top: 7px;
				
				input {
					&[type=text] {
						left: 3px;
					}
				}
			}
		}

		footer {
			&.main-footer  {
				.inner-footer {
					.footer-bottom {
						padding-top: 40px;

						.copyright {
							line-height: 14px;
						}
					}
				}
			}
		}
	}
}


/* Arabic */
body {
	&.ar {
		.footer-middle-subscribe p {
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0;
		}

		.footer-subscription {
			input[type="submit"] {
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0;
			}

			input[type="text"] {
				position: relative;
				top: 0;
				margin-left: -5px;
				font-size: 13px;
				line-height: 21px;
				letter-spacing: 0;
			}
		}
  }
}