footer.main-footer .footer-socials {
	margin-right: 34px;
	display: inline-block;
}

.footer-socials li {
	margin-right: 18px;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 20px;
	text-align: center;
	line-height: 45px;
	transition: .3s all;
	cursor: pointer;
}

.footer-socials li:first-child {
	margin-right: 0;
}

.footer-socials li a {
	color: #fff;
	font-size: 18px;
	line-height: 34px;
	text-decoration: none;
}

.footer-socials li:hover {
	opacity: .7;
}


/* English */
body {
	&.en {
		footer {
			&.main-footer {
				ul {
					&.footer-socials {
						margin-left: 34px;
						margin-right: 0;
						
						li {
							&:first-child {
								margin-left: 0;
								margin-right: 18px;
							}

							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}