.home-articles-item {
    position: relative;
    margin-right: 40px;
    width: 33.33%;
    border-bottom: 1px solid #ccc;
}

.home-articles-item:first-child {
    margin-right: 0;
}

.home-articles-item .img {
    position: relative;
    margin-bottom: 20px;
    height: 240px;
}

.home-articles-item .img a:first-child {
    display: block;
    height: 100%;
    overflow: hidden;
}

.home-articles-item img {    
    display: block;
    max-width: 360px;
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: transform .5s ease;
}

.home-articles-item a:first-child:hover img {
    transform: scale(1.10);
    backface-visibility: hidden;
}

.home-articles-item .img span {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 200px;
	padding: 6px 10px;
	display: inline-block;
	height: 30px;
	background-color: $second_color;
	color: #fff;
	font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    transition: .3s all;
}

.home-articles-item .img span:before {
	content: "";
	position: absolute;
	top: 0;
	left: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 30px 10px;
	border-color: transparent transparent $second_color transparent;
  transition: .3s all;
}

.home-articles-item .img span:hover {
	background-color: $main_color;
}

.home-articles-item .img span:hover:before {
	border-color: transparent transparent $main_color transparent;
}

.home-articles-item .headline {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
}

.home-articles-item .headline a:hover {
    text-decoration: underline;
}

.home-articles-item .underline {
    margin-bottom: 50px;
    color: #393746;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
}

.home-articles-item .date {
    position: absolute;
    bottom: 0;
    margin: 0 0 10px;
    color: #74737D;
    font-size: 14px;
    line-height: 15px;
}

/* Salamandra */
.salamandra > div.home-articles:nth-child(2) .home-article-full {
    margin-top: 0;
}

/* English */
body {
	&.en {
        .home-articles-item {
            &:first-child {
                margin-right: 40px;
            }

            &:last-child {
                margin-right: 0;
            }

            .img {
                span {
                    left: 0;
                    right: unset;

                    &:before {
                        left: unset;
                        right: -10px;
                        border-width: 30px 0 0 10px;
                        border-color: transparent transparent transparent #0dbfa7;
                    }
                }
            }
        }
    }
}


/* Arabic */
body {
	&.ar {
        .home-articles-item {
            .headline {                
                margin-bottom: 10px;
                font-size: 20px;
			    line-height: 30px;
            }

            .underline {
                font-size: 14px;
                line-height: 26px;
            }

            .img {
                span {
                    font-size: 13px;
			        line-height: 21px;
                }
            }
        }
    }
}