/* Labels */
.article-labels p {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 20px;
}

.labels {
	margin: 19px 0 20px;
	padding: 0;
	list-style: none;
}

.labels li {
	position: relative;
	margin-left: 6px;
	margin-bottom: 10px;
	height: 28px; 
	display: inline-block;
	background-color: #0DBFA7;
	cursor: pointer;
	transition: .3s all;
}

.labels li:last-child {
	margin-left: 0;
}

.labels li:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 10px 0 0;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

.labels li:hover {
	background-color: #008f7e;
}

.labels li a {
	padding: 4px 10.3px 4px 18px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	text-decoration: none;
	transition: .3s all;
}