.lang-switch li {
	padding: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-left: none;
	transition: .5s all;
	cursor: pointer;
}

.lang-switch li:last-child {
	margin: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.lang-switch li:hover,
.lang-switch li.active {
	background-color: rgba(255,255,255,0.2);
}

.lang-switch li.active,
.lang-switch li.active a {
	cursor: default;
}

.lang-switch li a {
	color: #fff;
	text-decoration: none;
	font-family: Gisha;
	font-size: 14px;
	line-height: 19px;
}


/* English */
body {
	&.en {
		.lang-switch {
			direction: rtl;
		}
	}
}