.latest-articles {
  margin-bottom: 50px;
}

._latest-articles-second {
  margin-top: 50px;
}

.latest-articles-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-articles-header-text {
  color: $second_color;
  font-size: 40px;
  font-weight: bold;
  line-height: 25px;
}

.latest-articles-header-link {
  color: $second_color;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  transition: .3s all;
}

.latest-articles-header-link-text {
  border-bottom: 2px solid transparent;
  transition: .3s all;
}

.latest-articles-header-link:hover .latest-articles-header-link-text {
  border-bottom: 2px solid $second_color;
}

.latest-articles-header-icon {
  position: relative;
  top: 2px;
  padding-right: 10px;
  font-size: 20px;
}