.subscription-banner {
    margin-left: 20px;
    padding: 31px 64px 49px;
    background-color: #C4EBE7;
    text-align: center;
}

.subscription-banner h3 {
    margin: 0 0 12px;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}

.subscription-banner p {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 24px;
}

.subscription-banner form {
    margin-top: 18px;
    display: flex;
}

.subscription-banner form input[type="email"] {
    padding: 3px 7px;
    width: 100%;
    border: 1px solid $main_color;
}

.subscription-banner form input[type="submit"] {
    padding: 3px 16px;
    background-color: #000;
    color: $third_color;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    border: none;
    cursor: pointer;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.subscription-banner input[type="submit"]:hover {
    opacity:.7
}


/* English */
body {
	&.en {
        .subscription-banner {
            padding: 54px 64px 35px;

            h3 {
                margin-bottom: 7px;
                font-size: 46px;
                line-height: 40px;
            }

            form {
                input[type=email] {
                    direction: ltr;
                    order: 1;
                }
            }
        }
    }
}


/* Arabic */
body {
	&.ar {
        .subscription-banner {
            padding: 30px 40px;

            h3 {
                font-size: 34px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 60px;
            }

            p {
                padding: 0 70px;
                font-size: 15px;
                letter-spacing: 0;
                line-height: 24px;
                text-align: center;
            }

            form {
                padding: 0 25px;

                input[type="submit"] {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}