@font-face{font-family:'Narkiss Block';src:url(../fonts/narkiss-block/NarkissBlock-Regular.eot);src:url(../fonts/narkiss-block/NarkissBlock-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/narkiss-block/NarkissBlock-Regular.woff2) format("woff2"),url(../fonts/narkiss-block/NarkissBlock-Regular.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'Narkiss Block';src:url(../fonts/narkiss-block/NarkissBlock-Light.eot);src:url(../fonts/narkiss-block/NarkissBlock-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/narkiss-block/NarkissBlock-Light.woff2) format("woff2"),url(../fonts/narkiss-block/NarkissBlock-Light.woff) format("woff");font-weight:300;font-style:normal}
@font-face{font-family:'Narkiss Block';src:url(../fonts/narkiss-block/NarkissBlock-Medium.eot);src:url(../fonts/narkiss-block/NarkissBlock-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/narkiss-block/NarkissBlock-Medium.woff2) format("woff2"),url(../fonts/narkiss-block/NarkissBlock-Medium.woff) format("woff");font-weight:500;font-style:normal}
@font-face{font-family:'Narkiss Block';src:url(../fonts/narkiss-block/NarkissBlock-Bold.eot);src:url(../fonts/narkiss-block/NarkissBlock-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/narkiss-block/NarkissBlock-Bold.woff2) format("woff2"),url(../fonts/narkiss-block/NarkissBlock-Bold.woff) format("woff");font-weight:700;font-style:normal}
@font-face{font-family:'Narkiss Block';src:url(../fonts/narkiss-block/NarkissBlock-Heavy.eot);src:url(../fonts/narkiss-block/NarkissBlock-Heavy.eot?#iefix) format("embedded-opentype"),url(../fonts/narkiss-block/NarkissBlock-Heavy.woff2) format("woff2"),url(../fonts/narkiss-block/NarkissBlock-Heavy.woff) format("woff");font-weight:900;font-style:normal}
@font-face{font-family:Gisha;src:url(../fonts/gisha/Gisha.eot?suy8gq);src:url(../fonts/gisha/Gisha.eot?suy8gq#iefix) format("embedded-opentype"),url(../fonts/gisha/Gisha.woff2?suy8gq) format("woff2"),url(../fonts/gisha/Gisha.ttf?suy8gq) format("truetype"),url(../fonts/gisha/Gisha.woff?suy8gq) format("woff"),url(../fonts/gisha/Gisha.svg?suy8gq#Gisha) format("svg");font-weight:400;font-style:normal;font-display:block}
@font-face{font-family:'Miriam Libre';src:url(../fonts/miriam-libre/MiriamLibre-Bold.eot);src:url(../fonts/miriam-libre/MiriamLibre-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/miriam-libre/MiriamLibre-Bold.woff2) format("woff2"),url(../fonts/miriam-libre/MiriamLibre-Bold.woff) format("woff"),url(../fonts/miriam-libre/MiriamLibre-Bold.ttf) format("truetype"),url(../fonts/miriam-libre/MiriamLibre-Bold.svg#MiriamLibre-Bold) format("svg");font-weight:700;font-style:normal}
@font-face{font-family:'Miriam Libre';src:url(../fonts/miriam-libre/MiriamLibre-Regular.eot);src:url(../fonts/miriam-libre/MiriamLibre-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/miriam-libre/MiriamLibre-Regular.woff2) format("woff2"),url(../fonts/miriam-libre/MiriamLibre-Regular.woff) format("woff"),url(../fonts/miriam-libre/MiriamLibre-Regular.ttf) format("truetype"),url(../fonts/miriam-libre/MiriamLibre-Regular.svg#MiriamLibre-Regular) format("svg");font-weight:400;font-style:normal}
*,:after,:before{box-sizing:border-box;-webkit-box-sizing:border-box;font-smoothing:antialiased;-webkit-font-smoothing:antialiased}
html{font-family:'Narkiss Block';direction:rtl}
body{padding-top:120px}
body.article-type-special,body.page-type-about,body.topic-type-special{padding-top:0}
body:after,body:before{content:"";position:fixed;background:#0dbfa7;left:0;right:0;height:10px;z-index:16}
body:before{top:0}
body:after{bottom:0}
body{border-left:12px solid #0dbfa7;border-right:12px solid #0dbfa7}
input,textarea{font-family:'Narkiss Block'}
a{color:inherit;background-color:transparent;text-decoration:none;outline:0}
.container{margin:60px auto;width:100%;max-width:1160px}
._container_padding{padding:60px 0}
._display_flex{display:-webkit-box;display:-ms-flexbox;display:flex}
._width_full{width:100%}
.col-half{width:50%}
._align_center{text-align:center}
._align_default{text-align:initial}
._margin_auto{margin:auto!important}
._margin_auto_in>*{margin:auto}
._margin_right_none{margin-right:0!important}
._magrin_bottom_none{margin-bottom:0!important}
._backround_gray{background-color:#edf1ee}
._backround_red{background-color:#fa5454!important}
a.underline-link{text-decoration:underline}
a.underline-link:hover{text-decoration:none!important}
[class*=" icon-"],[class^=icon-]{font-family:Gisha!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-search:before{content:"\ea18"}
.icon-english:before{content:"\e955"}
.icon-hebrew:before{content:"\e956"}
.icon-arabic:before{content:"\e957"}
.icon-facebook:before{content:"\e915"}
.icon-twitter:before{content:"\e914"}
.icon-arrow-down:before{content:"\ea16"}
.icon-arrow-down-bold:before{content:"\ea17"}
.icon-instagram-copy:before{content:"\e96c"}
.icon-mail:before{content:"\e919"}
.icon-whatsapp:before{content:"\e913"}
.icon-close-search:before{content:"\e90c"}
.icon-mobile-menu:before{content:"\e923"}
.icon-black-arrow-down:before{content:"\e93b"}
.icon-close-menu:before{content:"\e924"}
._menu-burger_active .menu-burger span:before,.icon-close-menu:before{content:"\e924"}
._type_link .icon-media:before{content:"\e966"}
._type_document .icon-media:before{content:"\e968"}
.icon-slider-arrow-left:before{content:"\e918"}
.icon-slider-arrow-right:before{content:"\e91a"}
.icon-long-arrow-left:before{content:"\e92b"}
.icon-long-arrow-right:before{content:"\e92a"}
.attachment-full{width:100%}
.wp-caption img{width:100%}
.articles-slider{padding:60px 140px;background-color:#393745}
.articles-slider-wrapper{position:relative;margin:0 auto;direction:ltr}
.articles-slide{color:#fff;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.articles-slide.home-article-full .underline{color:#fff}
.articles-slider-arrow{position:absolute;top:200px;color:#fff;text-decoration:none;font-size:40px;cursor:pointer;-webkit-transition:.3s all;transition:.3s all}
.articles-slider-arrow:hover{opacity:.5}
.articles-slider-arrow-left{left:-48px}
.articles-slider-arrow-right{right:-48px}
.articles-slider .slick-initialized .slick-slide{display:-webkit-box;display:-ms-flexbox;display:flex;direction:rtl}
.articles-slider .slick-initialized .slick-arrow.slick-disabled{opacity:.5;cursor:default}
.aside-page-navigation{width:300px}
.aside-page-navigation-list ul{margin:9px 0 0;padding:0;list-style:none}
.aside-page-navigation-list ul li{padding:20px 0;border-top:1px solid #ccc}
.aside-page-navigation-list ul li:last-child{border-bottom:1px solid #ccc}
.aside-page-navigation-list ul li a{color:#0dbfa7;font-size:16px;font-weight:600;line-height:20px;border-bottom:1px solid transparent;-webkit-transition:.3s all;transition:.3s all}
.aside-page-navigation-list ul li a.active{color:#333;cursor:default}
.aside-page-navigation-list ul li a:hover{border-bottom:1px solid #0dbfa7}
.aside-page-navigation-list ul li a.active:hover{border-bottom:1px solid transparent}
.btn-donation-white{padding:6px 37px 6px 36.5px;display:inline-block;color:#fff;font-size:24px;font-weight:700;line-height:20px;text-decoration:none;border:1px solid #fff;background-color:#0dbfa7;-webkit-box-shadow:1px 1px 0 0 #008f7e,2px 2px 0 0 #fff;box-shadow:1px 1px 0 0 #008f7e,2px 2px 0 0 #fff;-webkit-transition:.7s all;transition:.7s all}
.btn-donation-white:hover{opacity:.7;-webkit-box-shadow:1px 1px 0 0 #008f7e,1px 1px 7px 1px transparent;box-shadow:1px 1px 0 0 #008f7e,1px 1px 7px 1px transparent}
.btn-donation{padding:4px 20px;border-bottom:0;color:#000;font-size:18px;font-weight:700;line-height:26px;background-color:#9defe0;-webkit-box-shadow:3px 3px 0 0 #0dbfa7,5px 5px 15px 5px transparent;box-shadow:3px 3px 0 0 #0dbfa7,5px 5px 15px 5px transparent;-webkit-transition:.7s all;transition:.7s all}
.btn-donation:hover{color:#0b7769;-webkit-box-shadow:1px 1px 0 0 #0dbfa7,5px 5px 15px 5px transparent;box-shadow:1px 1px 0 0 #0dbfa7,5px 5px 15px 5px transparent}
.btn-white{padding:5px 33px;display:inline-block;border:1px solid #0dbfa7;color:#000;-webkit-box-shadow:1px 1px 0 0 #0dbfa7,2px 2px 0 0 #fff;box-shadow:1px 1px 0 0 #0dbfa7,2px 2px 0 0 #fff;-webkit-transition:.5s all;transition:.5s all}
.btn-white:hover{color:#fff;background-color:#0dbfa7;-webkit-box-shadow:1px 1px 0 0 #0dbfa7,1px 1px 7px 1px transparent;box-shadow:1px 1px 0 0 #0dbfa7,1px 1px 7px 1px transparent}
.btn-submit{padding:2px 33.4px;background-color:#000;color:#9defe0;font-size:18px;font-weight:700;line-height:26px;border:none;-webkit-box-shadow:1px 1px 0 0 #71e1c5,2px 2px 0 0 #393745;box-shadow:1px 1px 0 0 #71e1c5,2px 2px 0 0 #393745;cursor:pointer;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.btn-submit:hover{opacity:.7}
.btn-gray{margin-top:20px;padding:5px 18px;display:inline-block;color:#c4ebe7;font-size:16px;font-weight:700;line-height:20px;background-color:#393745;-webkit-box-shadow:1px 1px 0 0 #71e1c5,2px 2px 0 0 #393745;box-shadow:1px 1px 0 0 #71e1c5,2px 2px 0 0 #393745;-webkit-transition:.3s all;transition:.3s all}
.btn-gray:hover{opacity:.8}
.btn-large{display:inline-block;margin:0 50px 50px 0;padding:30px 50px;width:300px;color:#fff!important;font-size:40px!important;font-weight:700!important;line-height:42px!important;text-align:center;background-color:#fa5454;-webkit-box-shadow:6px 6px 0 0 #c90507;box-shadow:6px 6px 0 0 #c90507;-webkit-transition:.3s all;transition:.3s all;cursor:pointer}
.btn-large:hover{color:#f8c0c0!important;text-decoration:none!important;-webkit-box-shadow:none;box-shadow:none}
.btn-large:nth-child(2n+1){margin-right:0}
.contact-us-form{padding:43px 34px;background-color:#c4ebe7}
.contact-us-form label{width:50%}
.contact-us-form input[type=email],.contact-us-form input[type=text]{margin:0 0 40px 20px;padding:13px 15px;-webkit-box-flex:0;-ms-flex:0 48.5%;flex:0 48.5%;height:36px}
.contact-us-form input[type=email],.contact-us-form input[type=text],.contact-us-form textarea{color:#8c8c8c;font-size:16px;line-height:16px}
.contact-us-form input:nth-child(2n){margin-left:0}
.contact-us-form .contact-us-form-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.contact-us-form textarea{margin-bottom:40px;padding:18px 15px;width:100%;min-height:150px}
.contact-us-form input[type=submit]{margin-top:40px}
.content-dropdown{position:relative;margin-right:40px;margin-bottom:40px}
.content-dropdown-header{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:.3s all;transition:.3s all}
.content-dropdown-header:hover{opacity:.6}
.content-dropdown-title{color:#0dbfa7;font-size:24px;font-weight:700;line-height:30px}
.content-dropdown-icon{position:absolute;top:-2px;right:-45px;color:#0dbfa7;font-size:24px;line-height:30px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out}
.content-dropdown-text{display:none;color:#000;font-size:20px;font-weight:300;line-height:30px}
.content-dropdown .content-dropdown-text p{margin:0}
.content-dropdown.active .content-dropdown-icon{-webkit-transform:rotate(0);transform:rotate(0);-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out}
.content-dropdown.current .content-dropdown-text{display:block}
.donation-banner{margin-right:20px;color:#fff;background-color:#008f7e}
.donation-banner-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;overflow:hidden;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.donation-banner-triangle{position:relative;width:215px}
.triangle-1{position:absolute;top:0;right:74px;width:50px;height:100%;background-color:#71e1c5}
.triangle-1:before{content:"";position:absolute;top:0;right:50px;width:0;height:0;border-style:solid;border-width:120px 70px 120px 0;border-color:transparent #71e1c5 transparent transparent}
.triangle-2{position:absolute;top:0;right:0;width:88px;height:100%;background-color:#9defe0}
.triangle-2:before{content:"";position:absolute;top:0;right:88px;width:0;height:0;border-style:solid;border-width:120px 70px 120px 0;border-color:transparent #9defe0 transparent transparent}
.triangle-3:before{content:"";position:absolute;top:0;right:0;width:0;height:0;border-style:solid;border-width:120px 70px 120px 0;border-color:transparent #008f7e transparent transparent}
.donation-banner-content{padding:28px 25px 28px 0;width:318px;-webkit-box-sizing:content-box;box-sizing:content-box}
.donation-banner h3{margin:0 0 12px;font-size:50px;font-weight:900;line-height:50px}
.donation-banner p{font-size:18px;line-height:24px;text-align:right}
.filters{width:300px}
.filters h2{margin:0 0 17px}
.filter-item{margin-bottom:10px;padding:10px 0 0;border-top:1px solid #ccc}
.filter-title{margin:0;font-size:18px;letter-spacing:2px;line-height:20px}
.filters-selected{margin-bottom:56px;padding-bottom:16px;border-bottom:1px solid #ccc}
.filters-selected-list{display:inline-block}
.filters-selected-list .filter-selected-item{position:relative;margin:0 0 15px 17px;padding:5px 14px 5px 34px;display:inline-block;height:28px;color:#0dbfa7;border:1px solid #0dbfa7;cursor:pointer;-webkit-transition:.3s all;transition:.3s all;color:#0dbfa7;font-size:16px;font-weight:500;line-height:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.filters-selected-list .filter-selected-item:hover{color:#fff;background-color:#0dbfa7}
.filter-selected-item:before{content:"\e924";position:absolute;left:11px;font-family:Gisha!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.filters-selected-inner span{color:#0dbfa7;font-size:16px;font-weight:700;line-height:18px}
footer.main-footer .footer-menu{width:60%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
footer.main-footer .footer-menu ul li{display:block;border-bottom:1px solid transparent}
footer.main-footer .footer-menu ul li:first-child{margin-bottom:11px}
footer.main-footer .footer-menu ul li a{color:#fff;font-family:"Narkiss Block";font-size:18px;font-weight:700;line-height:20px;text-decoration:none;border-bottom:1px solid transparent;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
footer.main-footer .footer-menu ul li a:hover{border-bottom:1px solid rgba(255,255,255,.7)}
footer.main-footer .footer-socials{margin-right:34px;display:inline-block}
.footer-socials li{margin-right:18px;width:40px;height:37px;border:1px solid #fff;border-radius:20px;text-align:center;-webkit-transition:.3s all;transition:.3s all;cursor:pointer}
.footer-socials li:first-child{margin-right:0}
.footer-socials li a{color:#fff;font-size:18px;line-height:34px;text-decoration:none}
.footer-socials li:hover{opacity:.7}
.footer-middle-subscribe p{margin:0;color:#fff;font-family:"Narkiss Block";font-size:18px;letter-spacing:2px;line-height:20px}
.footer-subscription input[type=text]{margin-left:-4px;padding:10px 16px;width:264px;height:34px;border:none;color:#8c8c8c;font-size:16px}
.footer-subscription input[type=submit]{padding:4px 22px;height:34px;background-color:#000;border:none;color:#9defe0;font-size:18px;font-weight:700;line-height:26px;cursor:pointer;-webkit-transition:.3s all;transition:.3s all}
.footer-subscription input[type=submit]:hover{opacity:.7}
.history-slider{margin:60px auto 5px;padding-top:23px;max-width:1160px;border-top:1px solid #ccc}
.history-slider-title{margin:0 0 7px 0;font-size:40px;font-weight:700;line-height:42px}
.history-slider-subtitle{margin:0;font-size:16px;line-height:20px;text-align:right}
.home-article-full{margin-bottom:62px;display:-webkit-box;display:-ms-flexbox;display:flex}
.home-article-full-img{margin-left:40px;width:760px}
.home-article-full-img a{display:block;height:100%;overflow:hidden}
.home-article-full-img img{display:block;width:100%;max-height:470px;-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.home-article-full-img a:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.home-article-full-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:360px;border-bottom:1px solid #ccc}
.home-article-full .headline h2{margin:0 0 20px;font-size:45px;font-weight:900;line-height:45px}
.home-article-full .headline h2 a:hover{text-decoration:underline}
.home-article-full .underline{margin-bottom:72px;color:#393746;font-size:16px;font-weight:400;line-height:21px;text-align:right}
.home-article-full .date{margin-bottom:20px;color:#74737d;font-family:"Miriam Libre";font-size:14px;font-weight:400;line-height:15px}
.home-articles-item{margin-right:40px;width:33.33%;border-bottom:1px solid #ccc}
.home-articles-item:first-child{margin-right:0}
.home-articles-item .img{position:relative;margin-bottom:30px}
.home-articles-item .img a:first-child{display:block;height:100%;overflow:hidden}
.home-articles-item img{display:block;-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.home-articles-item a:first-child:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.home-articles-item .img span{position:absolute;bottom:0;right:0;max-width:200px;padding:6px 10px;display:inline-block;height:30px;background-color:#0dbfa7;color:#fff;font-size:16px;font-weight:700;line-height:21px;-webkit-transition:.3s all;transition:.3s all}
.home-articles-item .img span:before{content:"";position:absolute;top:0;left:-10px;width:0;height:0;border-style:solid;border-width:0 0 30px 10px;border-color:transparent transparent #0dbfa7 transparent;-webkit-transition:.3s all;transition:.3s all}
.home-articles-item .img span:hover{background-color:#008f7e}
.home-articles-item .img span:hover:before{border-color:transparent transparent #008f7e transparent}
.home-articles-item .headline{margin-bottom:25px;font-size:24px;font-weight:900;line-height:26px}
.home-articles-item .headline a:hover{text-decoration:underline}
.home-articles-item .underline{margin-bottom:25px;color:#393746;font-size:16px;font-weight:400;line-height:21px}
.home-articles-item .date{margin:0 0 10px;color:#74737d;font-size:14px;line-height:15px}
.info-table{margin-bottom:30px;padding:45px 0;background-color:#edf1ee;text-align:center}
.info-table-container{margin:auto;max-width:1160px;display:-webkit-box;display:-ms-flexbox;display:flex}
.info-table-col{padding:0 20px;width:160px;border-left:1px solid #ccc;-webkit-box-sizing:content-box;box-sizing:content-box}
.info-table-col:first-child{padding-right:0}
.info-table-col:last-child{padding-left:0;border-left:none}
.info-table-circle{margin-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:160px;height:160px;background-color:#000;color:#fff;border-radius:50%}
.info-table-number{max-width:120px;font-size:24px;font-weight:900;line-height:26px}
.info-table-text{max-width:120px;font-size:14px;font-weight:700;line-height:16px}
.info-table-content{font-size:16px;line-height:20px;text-align:center}
.labels-home{margin:0 0 30px;padding:0;list-style:none}
.labels-home li{position:relative;margin-left:6px;margin-bottom:10px;padding-bottom:10px;height:28px;display:inline-block;background-color:#0dbfa7;cursor:pointer;-webkit-transition:.3s all;transition:.3s all}
.labels-home li:last-child{margin-left:0}
.labels-home li:before{content:"";position:absolute;left:-10px;width:0;height:0;border-style:solid;border-width:0 0 28px 10px;border-color:transparent transparent #0dbfa7 transparent;-webkit-transition:.3s all;transition:.3s all}
.labels-home li:hover{background-color:#008f7e}
.labels-home li:hover:before{border-color:transparent transparent #008f7e transparent}
.labels-home li.active{background-color:#000;cursor:default}
.labels-home li.active a{color:#c4ebe7;cursor:default}
.labels-home li a{padding:4px 10.3px 4px 10px;display:inline-block;color:#fff;font-size:16px;font-weight:700;line-height:23px;text-decoration:none;-webkit-transition:.3s all;transition:.3s all}
.article-labels p{font-size:18px;font-weight:400;letter-spacing:2px;line-height:20px}
.labels{margin:19px 0 20px;padding:0;list-style:none}
.labels li{position:relative;margin-left:6px;margin-bottom:10px;height:28px;display:inline-block;background-color:#0dbfa7;cursor:pointer;-webkit-transition:.3s all;transition:.3s all}
.labels li:last-child{margin-left:0}
.labels li:before{content:"";position:absolute;left:0;width:0;height:0;border-style:solid;border-width:28px 10px 0 0;border-color:rgba(0,0,0,.3) transparent transparent transparent}
.labels li:hover{background-color:#008f7e}
.labels li.active{background-color:#000;cursor:default}
.labels li.active a{color:#c4ebe7;cursor:default}
.labels li a{padding:4px 10.3px 4px 18px;display:inline-block;color:#fff;font-size:16px;font-weight:700;line-height:23px;text-decoration:none;-webkit-transition:.3s all;transition:.3s all}
.lang-switch li{margin-left:-4px;padding:5px;width:30px;height:30px;text-align:center;border:1px solid rgba(255,255,255,.5);border-left:none;-webkit-transition:.5s all;transition:.5s all;cursor:pointer}
.lang-switch li:last-child{margin:0;border-left:1px solid rgba(255,255,255,.5)}
.lang-switch li.active,.lang-switch li:hover{background-color:rgba(255,255,255,.2)}
.lang-switch li.active,.lang-switch li.active a{cursor:default}
.lang-switch li a{color:#fff;text-decoration:none;font-family:Gisha;font-size:14px;line-height:19px}
.latest-articles{margin-bottom:50px}
._latest-articles-second{margin-top:50px}
.latest-articles-header{margin-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.latest-articles-header-text{color:#0dbfa7;font-size:40px;font-weight:700;line-height:25px}
.latest-articles-header-link{color:#0dbfa7;font-size:16px;font-weight:600;line-height:16px;-webkit-transition:.3s all;transition:.3s all}
.latest-articles-header-link-text{border-bottom:2px solid transparent;-webkit-transition:.3s all;transition:.3s all}
.latest-articles-header-link:hover .latest-articles-header-link-text{border-bottom:2px solid #0dbfa7}
.latest-articles-header-icon{position:relative;top:2px;padding-right:10px;font-size:20px}
.main-menu .icon-arrow-down-bold{position:relative;top:2px;right:3px;display:inline-block;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.main-menu li:hover a .icon-arrow-down-bold{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.main-menu li{padding:5px 30px;position:relative;border-bottom:1px solid transparent}
.main-menu li:last-child{padding-left:0}
.main-menu li a{font-size:18px;font-weight:700;line-height:20px;color:#fff;text-decoration:none;-webkit-transition:.5s all;transition:.5s all;border-bottom:2px solid transparent}
.main-menu li:hover a{border-bottom:2px solid rgba(255,255,255,.7)}
.main-menu li:hover>ul.submenu,.main-menu li:hover>ul.submenu:hover{display:block;visibility:visible;opacity:1}
.main-menu li ul.submenu{position:absolute;min-width:154px;padding-top:20px;display:none;right:28px;background-color:transparent;-webkit-transition:all .5s ease;transition:all .5s ease;visibility:hidden;opacity:0;z-index:10}
.main-menu .submenu li{padding:10px 20px 10px 10px;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;border-top:1px solid rgba(255,255,255,.5);background-color:#0dbfa7;cursor:pointer;clear:both}
.main-menu .submenu li:last-child{border-bottom:1px solid rgba(255,255,255,.5)}
.main-menu .submenu li:hover{background-color:#259885}
.main-menu .submenu li a{font-size:16px;font-weight:700;line-height:20px;border:none}
.main-menu li a.btn-donation{padding:4px 20px;border-bottom:0;color:#000;background-color:#9defe0;-webkit-box-shadow:3px 3px 0 0 #0dbfa7,5px 5px 15px 5px transparent;box-shadow:3px 3px 0 0 #0dbfa7,5px 5px 15px 5px transparent;-webkit-transition:.7s all;transition:.7s all}
.main-menu li a.btn-donation:hover{color:#0b7769;-webkit-box-shadow:1px 1px 0 0 #0dbfa7,5px 5px 15px 5px transparent;box-shadow:1px 1px 0 0 #0dbfa7,5px 5px 15px 5px transparent}
.custom-select{margin:20px 0}
.custom-select select{display:none}
.custom-select-inner{position:relative;margin-left:6px;margin-bottom:10px;padding:5px 16px 5px 45px;height:28px;display:inline-block;background-color:#0dbfa7;cursor:pointer;color:#fff;font-size:16px;font-weight:500;line-height:22px;text-decoration:none;-webkit-transition:.3s all;transition:.3s all;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.custom-select-inner:before{content:"";position:absolute;top:0;left:0;width:0;height:0;border-style:solid;border-width:28px 10px 0 0;border-color:rgba(0,0,0,.3) transparent transparent transparent;z-index:10}
.custom-select._type_selected .custom-select-inner:before{content:none}
.custom-select-inner:hover{background-color:#008f7e}
.custom-select-list{position:absolute;display:none;top:28px;right:0;z-index:10}
.custom-select-arrow{position:absolute;top:6px;left:15px}
.custom-select-item{padding:5px 16px 5px 45px;background-color:#0dbfa7;border-top:1px solid rgba(255,255,255,.5)}
.custom-select-item:hover{background-color:#008f7e}
ul.socials-list{margin:0 0 9px;padding:0}
ul.socials-list li{margin-left:-4px;margin-right:13px;display:inline-block;width:40px;height:40px;border:1px solid #0dbfa7;border-radius:20px;text-align:center;list-style:none;cursor:pointer;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
ul.socials-list li:first-child{margin-right:0}
ul.socials-list li:hover{background-color:#0dbfa7}
ul.socials-list li:hover a{color:#fff}
ul.socials-list li a{color:#0dbfa7;font-size:18px;line-height:38px;text-decoration:none;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
ul.socials-list._color_white li{border-color:#fff}
ul.socials-list._color_white li a{color:#fff}
ul.socials-list._color_white li:hover{background-color:#fff}
ul.socials-list._color_white li:hover a{color:rgba(0,0,0,.5)}
.subscription-banner{margin-left:20px;padding:31px 64px 49px;background-color:#c4ebe7;text-align:center}
.subscription-banner h3{margin:0 0 12px;font-size:50px;font-weight:900;line-height:50px}
.subscription-banner p{margin:0 0 12px;font-size:18px;line-height:24px}
.subscription-banner form{display:-webkit-box;display:-ms-flexbox;display:flex}
.subscription-banner form input[type=email]{padding:3px 7px;width:100%;border:1px solid #008f7e}
.subscription-banner form input[type=submit]{padding:3px 16px;background-color:#000;color:#9defe0;font-size:18px;font-weight:700;line-height:26px;border:none;cursor:pointer;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.subscription-banner input[type=submit]:hover{opacity:.7}
.top-bar{position:relative;margin:0 30px}
.top-bar-item{padding:4px 30px;display:inline-block;color:#fff;border-right:1px solid #fff}
.top-bar-item:first-child{padding-right:0;border-right:none}
.top-bar-item:last-child{padding-left:0}
.top-bar-item .icon-facebook,.top-bar-item .icon-search,.top-bar-item .icon-twitter{font-size:14px;line-height:14px;-webkit-transition:.3s all;transition:.3s all}
.top-bar-item .icon-search{position:relative;top:2;padding-right:8px}
.top-bar-item .icon-facebook{padding-right:10px;padding-left:15px}
.top-bar-item .icon-facebook:hover,.top-bar-item .icon-search:hover,.top-bar-item .icon-twitter:hover{opacity:.7;text-decoration:none;border-bottom:1px solid transparent}
.top-bar-item a,.top-bar-item span{position:relative;top:2px;font-size:16px;line-height:18px;color:#fff;text-decoration:none;border-bottom:1px solid transparent;-webkit-transition:.3s all;transition:.3s all;z-index:1}
.top-bar-item a:hover{text-decoration:none;border-bottom:1px solid rgba(255,255,255,.7)}
.top-bar-search form{position:absolute;top:-1px;left:0;width:100%;opacity:0;-webkit-transition:opacity .3s linear;transition:opacity .3s linear;z-index:0}
.top-bar-search._top-search_active form{z-index:10;opacity:1}
.top-bar-search .submit-search-icon{position:absolute;top:7px;left:10px;z-index:11}
.top-bar-search .submit-search-icon .icon-search{color:#008f7e}
.top-bar-search form input{padding:6px 10px 6px 30px;width:100%;height:30px;font-size:16px;color:#008f7e}
.top-bar-search form input:-moz-placeholder,.top-bar-search form input:-ms-input-placeholder,.top-bar-search form input::-moz-placeholder,.top-bar-search form input::-webkit-input-placeholder{color:#bebebe}
.top-bar-item .top-bar-close-search{position:absolute;top:3px;right:-22px}
.top-bar-item .top-bar-close-search span{font-size:28px}
.text-content{margin-bottom:20px}
.text-content p{margin:0 0 30px;color:#000;font-size:20px;font-weight:300;line-height:30px}
.text-content p.small{font-size:16px;line-height:20px;font-weight:400}
.text-content a{color:#238f7f;text-decoration:underline}
.text-content a:hover{text-decoration:none}
.text-content h3{margin:10px 0 30px;font-size:30px;font-weight:700;line-height:32px}
.text-content h4{margin:0;font-size:20px;font-weight:700;line-height:30px}
.text-content ul{padding:0;list-style:none}
.text-content ul li{position:relative;padding-right:30px}
.text-content ul li::before{content:"";position:absolute;top:11px;right:0;width:8px;height:8px;background-color:#0dbfa7;border-radius:50%}
.wp-caption{margin-bottom:30px}
.wp-caption-text{color:#74737c;font-size:16px;line-height:20px}
.article-special .text-content h3{margin-top:30px;font-size:40px;font-weight:700;line-height:42px}
footer.main-footer{width:100%;background-color:#008f7e}
footer.main-footer ul{margin:0;padding:0;list-style:none}
footer.main-footer ul li{display:inline-block}
footer.main-footer .inner-footer{max-width:1157px;margin:auto;padding-top:32px;padding-bottom:35px}
footer.main-footer .inner-footer .footer-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
footer.main-footer .inner-footer .footer-top{margin-bottom:36px;padding-bottom:30px;border-bottom:1px solid rgba(255,255,255,.2)}
footer.main-footer .inner-footer .footer-top .footer-top-logo{font-size:0}
footer.main-footer .inner-footer .footer-top .footer-top-logo a{-webkit-transition:.3s all;transition:.3s all}
footer.main-footer .inner-footer .footer-top .footer-top-logo a:hover{opacity:.7}
footer.main-footer .inner-footer .footer-bottom .copyright{margin:52px 0 0;color:#fff;font-family:"Narkiss Block";font-size:12px;line-height:16px;text-align:center}
header.main-header{position:fixed;top:0;left:0;width:100%;border:12px solid #0dbfa7;border-bottom:none;background-color:#008f7e;z-index:15;-webkit-transition:.3s all;transition:.3s all}
header.main-header ul{margin:0;padding:0;list-style:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
header.main-header ul li{display:inline-block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
header.main-header .inner-header{padding:20px 28px 17px 35px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;height:120px;-webkit-transition:none;transition:none}
header.main-header .inner-header .logo{font-size:0}
header.main-header .inner-header .logo a{-webkit-transition:.3s all;transition:.3s all}
header.main-header .inner-header .logo a:hover{opacity:.7}
header.main-header .inner-header .top-menu{margin-bottom:25px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
header.main-header .inner-header .menu-burger{padding-right:35px;display:none}
header.main-header .inner-header .menu-burger span{display:inline-block;width:21px;color:#fff;font-size:28px;line-height:30px;cursor:pointer;-webkit-transition:.3s all;transition:.3s all;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
header.main-header .inner-header .menu-burger span:hover{opacity:.7}
.sticky-header header.main-header .inner-header{padding:10px 35px;height:60px;-webkit-transition:.3s all;transition:.3s all}
.sticky-header header.main-header .logo img{height:40px;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.sticky-header header.main-header .bottom-menu{display:none}
.sticky-header header.main-header .top-menu{margin-bottom:0}
.sticky-header header.main-header .menu-burger{display:block}
header.main-header._menu-burger_active .inner-header{padding:15px 28px 17px 35px;height:120px;-webkit-transition:none;transition:none}
header.main-header._menu-burger_active .logo{height:100%}
header.main-header._menu-burger_active .top-menu{margin-bottom:25px}
header.main-header._menu-burger_active .bottom-menu{display:none}
header.main-header.main-header-small{position:absolute;background:0 0}
header.main-header.main-header-small .inner-header{height:88px}
header.main-header.main-header-small .top-menu{margin-bottom:0}
header._type_transparent{background:0 0;background:0 0}
header._type_transparent._background_green{background-color:#008f7e}
.archive-header{position:relative;text-align:center;padding-top:17px}
.archive-header._type_white .archive-header-inner{margin:auto;margin-bottom:59px;padding-bottom:73px;position:relative;max-width:1160px;min-height:60vh;display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index:10}
.archive-header._type_white:before{content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);z-index:10}
.archive-header._type_white h1{color:#fff}
.archive-header h1{margin:0 0 10px;color:#0dbfa7;font-size:72px;font-weight:900;line-height:72px}
.archive-description{margin:0 auto 80px;max-width:750px;text-align:center}
.archive-description p{font-size:20px;font-weight:300;line-height:30px}
.archive-read-more{margin:0;display:block;color:#008f7e;text-decoration:underline;font-size:20px;line-height:23px;font-weight:400}
.archive-read-more:hover{text-decoration:none}
.archive-main{margin-top:50px;display:-webkit-box;display:-ms-flexbox;display:flex}
.archive-articles{margin-right:110px;width:750px}
.archive-article{margin-bottom:30px;padding-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom:1px solid #ccc}
.archive-article .img-preview{margin-left:30px;width:360px;height:240px}
.archive-article .img-preview.img-preview-small{width:130px;height:130px}
.archive-article .img-preview a{display:block;height:100%;overflow:hidden}
.archive-article .img-preview a img{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.archive-article .img-preview a img:hover{-webkit-transform:scale(1.15);transform:scale(1.15);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.article-content .info{color:#0dbfa7;font-size:16px;line-height:23px}
.article-content .info a{color:#0dbfa7;font-size:16px;font-weight:700;line-height:18px;border-bottom:1px solid transparent;-webkit-transition:.3s all;transition:.3s all}
.article-content .info a:hover{border-bottom:1px solid #0dbfa7}
.article-content .info .separator{padding:0 6px}
.article-content .date{color:rgba(57,55,70,.7);font-size:13px;letter-spacing:1px;line-height:18px}
.article-content .headline h2{margin-top:14px;margin:14px 0;font-size:26px;font-weight:700;line-height:30px}
.article-content .headline h2:hover{text-decoration:underline}
.article-content .article-text{color:#393746;font-size:16px;line-height:21px}
.article-content .article-text a{color:#008f7e;font-size:16px;line-height:21px;text-decoration:underline}
.article-content .article-text a:hover{text-decoration:none}
.article-feature,.article-legal,.article-single{display:-webkit-box;display:-ms-flexbox;display:flex}
.article-single-col{width:880px}
.article-single-sidebar{margin-right:80px;width:200px}
.article-header{margin-bottom:45px}
.article-header .media img{max-width:100%}
.label{margin-bottom:20px}
.label a{margin-bottom:20px;color:#0dbfa7;font-size:16px;font-weight:700;line-height:24px;text-decoration:none;border-bottom:2px solid transparent;-webkit-transition:.3s all;transition:.3s all}
.label a:hover{border-bottom:2px solid #0dbfa7}
.headline h1{margin:5px 0 20px;font-size:60px;font-weight:900;line-height:60px}
.underline{margin:5px 0 20px;color:#797979;font-size:20px;font-weight:600;line-height:24px}
.date{margin:5px 0 52px;color:#74737c;font-family:"Miriam Libre";font-size:15px;letter-spacing:2px;line-height:15px}
.media .caption{margin:7px 0;color:#74737c;font-size:16px;line-height:20px}
.article-section{display:-webkit-box;display:-ms-flexbox;display:flex}
.main-content{margin-bottom:100px;max-width:600px;font-size:20px;font-weight:300;line-height:30px}
.media-aside{margin-top:8px;margin-left:70px;width:200px}
.article-share{padding:20px 0 19px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center}
.article-share .icon-arrow-down-bold{color:#0dbfa7;font-size:24px;text-decoration:none;-webkit-transition:.3s all;transition:.3s all}
.article-share .icon-arrow-down-bold:hover{opacity:.5}
.article-media ul{margin:0;padding:0}
.article-media ul li{padding:18px 0;list-style:none;border-bottom:1px solid #ccc;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.article-media ul li a{position:relative;color:#0dbfa7;font-size:16px;font-weight:700;line-height:20px;text-decoration:none}
.article-media ul li a span{position:relative;top:2px;padding-left:17px;font-size:20px;line-height:20px}
.article-media ul li a._type_empty span{padding-left:0}
.article-media ul li:hover{opacity:.5}
.article-footer{margin:10px auto 60px;max-width:600px;border-top:1px solid #ccc}
.article-feature-col{max-width:1160px}
.article-feature .headline h1{margin-bottom:16px;font-size:72px;font-weight:900;line-height:72px}
.article-feature .date{margin-bottom:45px}
.article-legal .article-header{margin-bottom:37px}
.article-legal .headline h1{margin:27px 0 28px;color:#008f7e;font-size:48px;font-weight:500;line-height:48px}
.article-legal .date{margin-bottom:37px}
.article-legal .article-single-sidebar{margin-top:4px}
.article-special.container{margin:0 auto;padding:0;width:100%;max-width:100%;overflow:hidden}
.article-special .article-header{position:relative;margin-bottom:70px;background-repeat:no-repeat;background-size:cover;color:#fff}
.article-special .article-header .article-header-inner{margin:auto;position:relative;max-width:1160px;min-height:85vh;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.article-special .article-header:before{content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);z-index:10}
.article-special .headline h1{position:relative;margin:0 auto 11px;max-width:980px;color:#fff;font-size:120px;font-weight:900;line-height:120px;z-index:11}
.article-special .underline{position:relative;margin:0 auto 25px;max-width:980px;color:#fff;font-size:24px;font-weight:300;line-height:30px;z-index:11}
.article-special .date{position:relative;color:#fff;z-index:11}
.article-special .article-section{margin:0 auto;max-width:1160px}
.article-special .special-img-caption{position:absolute;bottom:-28px;color:#74737c;font-size:16px;line-height:20px}
.article-special .article-single-sidebar{margin-top:84px}
.article-special-section{padding:31px 0 60px;border-top:1px solid #ccc}
.special-header .special-header-meta{margin:auto;max-width:600px}
.special-header .pre-title{font-size:20px;font-weight:700;line-height:30px}
.special-header .title{margin-bottom:25px;font-size:70px;font-weight:700;line-height:79px}
.special-header .subtitle{margin-bottom:27px;font-size:40px;font-weight:700;line-height:42px}
.special-header .header-image .caption{margin:0 0 30px;color:#74737c;font-size:16px;line-height:20px}
.header-image{text-align:center}
.article-special .article-preview,.article-special .text-content{margin:auto;max-width:600px;border-bottom:none}
.article-special-main{margin-bottom:29px;font-size:20px;font-weight:300;line-height:30px}
.article-special-main .text-content{margin-left:0}
.article-special-main,.special-header{margin:0 auto;padding-bottom:0;max-width:1160px}
.full-width-caption{margin:7px auto 0;max-width:1160px;color:#74737c;font-size:16px;line-height:20px}
.contact-us-text{margin-top:70px}
.contact-us-text p{color:#000;font-size:20px;line-height:30px;text-align:center}
.home-header{position:relative;text-align:center;padding-top:17px}
.home-header._type_white .home-header-inner{margin:auto;margin-bottom:59px;padding-bottom:73px;position:relative;max-width:1160px;min-height:80vh;display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index:10}
.home-header._type_white:before{content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);z-index:10}
.home-header._type_white h1{color:#fff}
.home-header h1{margin:0 0 10px;color:#0dbfa7;font-size:72px;font-weight:900;line-height:72px}
.home-header .underline{color:#fff;font-size:32px;font-weight:400;line-height:36px}
.home-articles-list{display:-webkit-box;display:-ms-flexbox;display:flex}
.page-header{position:relative;text-align:center;padding-top:17px}
.page-header._type_white .page-header-inner{margin:auto;margin-bottom:59px;padding-bottom:73px;position:relative;max-width:1160px;min-height:60vh;display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index:10}
.page-header._type_white:before{content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,.5);z-index:10}
.page-header._type_white h1{color:#fff}
.page-header h1{margin:0 0 10px;color:#0dbfa7;font-size:72px;font-weight:900;line-height:72px}
.page-main{margin-top:81px;display:-webkit-box;display:-ms-flexbox;display:flex}
.page-content-section{margin:0 110px 50px 0;width:750px}
.page-content-full-width{margin:auto;width:750px}
.page-content h2{margin-top:0;color:#000;font-size:48px;font-weight:700;line-height:48px}
.page-content h3{margin-top:0;color:#000;font-size:30px;font-weight:700;line-height:32px}
.page-content h4{font-size:24px;font-weight:500;line-height:30px}
.page-content p{margin-bottom:30px;color:#000;font-size:20px;font-weight:300;line-height:30px}
.page-content strong{font-weight:500}
.page-content a{color:#0dbfa7;font-size:20px;line-height:30px}
.page-content a:hover{text-decoration:underline}
.page-title{margin:0 0 60px;font-size:48px;font-weight:700;line-height:48px}
.page-type-404{padding:130px 0 100px;background-color:#71e1c5;color:#333;font-size:24px;line-height:24px}
.search-results{max-width:750px}
.search-results-header h2{margin-bottom:60px;text-align:center;color:#797979;font-size:50px;font-weight:300;line-height:52px}
.search-results-header span{color:#0dbfa7;font-size:50px;font-weight:900;line-height:52px}
.search-results-form{position:relative;margin:0 auto 60px}
.search-results-form input[type=text]{margin-left:-4px;padding:10px 13px;display:inline-block;width:calc(100% - 80px);color:#008f7e;border:1px solid #008f7e;font-size:16px;outline:0;-webkit-transition:.3s all;transition:.3s all}
.search-results-form input[type=text]:focus{-webkit-box-shadow:0 0 7px 0 rgba(0,0,0,.75);box-shadow:0 0 7px 0 rgba(0,0,0,.75)}
.search-results-form button[type=submit]{position:relative;top:2px;padding:11.5px 10px 11px;display:inline-block;width:80px;background-color:#008f7e;border:1px solid #008f7e;color:#fff;font-size:14px;outline:0;cursor:pointer;-webkit-transition:.3s all;transition:.3s all}
.search-results-form button[type=submit]:hover{opacity:.7}
.search-results-items article{margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;border-bottom:1px solid #ccc}
.search-results-items .img-preview{margin-left:20px;width:130px;height:130px}
.search-results-items .img-preview a{display:block;height:100%;overflow:hidden}
.search-results-items .img-preview img{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.search-results-items .img-preview img:hover{-webkit-transform:scale(1.15);transform:scale(1.15);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.search-results-items .item-content .label{margin-bottom:10px;line-height:15px}
.search-results-items .item-content .headline h2{margin:0 0 10px 0}
.search-results-items .item-content .headline h2:hover{text-decoration:underline}
.search-results-items .item-content .text-content{margin:0;padding-bottom:30px;border-bottom:none}
.search-results-items .item-content .text-content p{margin:0;padding:0;color:#393746;font-size:16px;line-height:21px}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
.later-pay main{display:block}
.later-pay h1{font-size:2em;margin:.67em 0}
.later-pay hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}
.later-pay pre{font-family:monospace,monospace;font-size:1em}
.later-pay a{background-color:transparent}
.later-pay abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
.later-pay b,.later-pay strong{font-weight:bolder}
.later-pay code,.later-pay kbd,.later-pay samp{font-family:monospace,monospace;font-size:1em}
.later-pay small{font-size:80%}
.later-pay sub,.later-pay sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.later-pay sub{bottom:-.25em}
.later-pay sup{top:-.5em}
.later-pay img{border-style:none}
.later-pay button,.later-pay input,.later-pay optgroup,.later-pay select,.later-pay textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
.later-pay button,.later-pay input{overflow:visible}
.later-pay button,.later-pay select{text-transform:none}
.later-pay [type=button],.later-pay [type=reset],.later-pay [type=submit],.later-pay button{-webkit-appearance:button}
.later-pay [type=button]::-moz-focus-inner,.later-pay [type=reset]::-moz-focus-inner,.later-pay [type=submit]::-moz-focus-inner,.later-pay button::-moz-focus-inner{border-style:none;padding:0}
.later-pay [type=button]:-moz-focusring,.later-pay [type=reset]:-moz-focusring,.later-pay [type=submit]:-moz-focusring,.later-pay button:-moz-focusring{outline:1px dotted ButtonText}
.later-pay fieldset{padding:.35em .75em .625em}
.later-pay legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
.later-pay progress{vertical-align:baseline}
.later-pay textarea{overflow:auto}
.later-pay [type=checkbox],.later-pay [type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
.later-pay [type=number]::-webkit-inner-spin-button,.later-pay [type=number]::-webkit-outer-spin-button{height:auto}
.later-pay [type=search]{-webkit-appearance:textfield;outline-offset:-2px}
.later-pay [type=search]::-webkit-search-decoration{-webkit-appearance:none}
.later-pay ::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
.later-pay details{display:block}
.later-pay summary{display:list-item}
.later-pay template{display:none}
.later-pay [hidden]{display:none}
/*! RESET STYLES */
.later-pay a{text-decoration:none;color:inherit;cursor:pointer;outline:0}
.later-pay [type=submit],.later-pay button{background-color:transparent;color:inherit;border-width:0;padding:0;cursor:pointer;outline:0}
.later-pay figure{margin:0}
.later-pay input,.later-pay textarea{outline:0}
.later-pay input::-moz-focus-inner{border:0;padding:0;margin:0}
.later-pay dd,.later-pay ol,.later-pay ul{margin:0;padding:0;list-style:none}
.later-pay blockquote{margin:0}
.later-pay .text-content dd,.later-pay .text-content ol,.later-pay .text-content ul{padding-left:40px;margin:1em 0}
.later-pay .text-content ul{list-style:disc}
.later-pay .text-content ol{list-style:decimal}
.later-pay h1,.later-pay h2,.later-pay h3,.later-pay h4,.later-pay h5,.later-pay h6{margin:0;font-size:inherit;font-weight:inherit}
.later-pay p{margin:0}
.later-pay cite{font-style:normal}
.later-pay fieldset{border-width:0;padding:0;margin:0}
.donation-widget{padding:20px 15px 30px;background-color:#008f7e;color:#fff;text-align:center}
.donation-widget h3{margin:5px 0 15px;font-size:40px;font-weight:900;line-height:40px}
.donation-widget p{margin-bottom:20px;font-size:16px;line-height:21px}
.posts-widget h2{margin:0 0 9px;line-height:22px}
.posts-widget .post-item{padding:30px 0 10px;border-top:1px solid #ccc}
.posts-widget .post-item:last-child{margin-bottom:60px;border-bottom:1px solid #ccc}
.posts-widget .post-item div{position:relative;margin-bottom:21px;width:200px;height:133px}
.posts-widget .post-item .post-item-img{display:block;height:100%;overflow:hidden}
.posts-widget .post-item .post-item-img img{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.posts-widget .post-item .post-item-img:hover img{-webkit-transform:scale(1.15);transform:scale(1.15);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.posts-widget .post-item span{position:absolute;bottom:0;right:0;max-width:200px;padding:6px 10px;display:inline-block;height:30px;background-color:#0dbfa7;color:#fff;font-size:16px;font-weight:700;line-height:21px;-webkit-transition:.3s all;transition:.3s all}
.posts-widget .post-item span:before{content:"";position:absolute;top:0;left:-10px;width:0;height:0;border-style:solid;border-width:0 0 30px 10px;border-color:transparent transparent #0dbfa7 transparent;-webkit-transition:.3s all;transition:.3s all}
.posts-widget .post-item span:hover{background-color:#008f7e}
.posts-widget .post-item span:hover:before{border-color:transparent transparent #008f7e transparent}
.posts-widget .post-item p{margin-bottom:11px;color:#393746;font-size:18px;font-weight:700;line-height:20px}
.posts-widget .post-item p:hover{text-decoration:underline}
.posts-widget .post-item.no-img{padding:60px 0 18px}
.posts-widget .post-item.no-img div{width:auto;height:auto}
.related-posts-widget h2{margin:0 0 9px;font-size:24px;font-weight:700;line-height:24px}
.related-posts-widget .post-item{padding:30px 0 10px;border-top:1px solid #ccc}
.related-posts-widget .post-item:last-child{margin-bottom:60px;border-bottom:1px solid #ccc}
.related-posts-widget .post-item div{position:relative;margin-bottom:21px;width:200px;height:133px}
.related-posts-widget .post-item .post-item-img{display:block;height:100%;overflow:hidden}
.related-posts-widget .post-item .post-item-img img{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.related-posts-widget .post-item .post-item-img:hover img{-webkit-transform:scale(1.15);transform:scale(1.15);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.related-posts-widget .post-item .post-item-link{color:#0dbfa7;font-size:18px;font-weight:500;line-height:20px}
.related-posts-widget .post-item p{margin-bottom:11px;color:#393746;font-size:18px;font-weight:700;line-height:20px}
.related-posts-widget .post-item p:hover{text-decoration:underline}
.related-posts-widget .post-item.no-img{padding:60px 0 18px}
.related-posts-widget .post-item.no-img div{width:auto;height:auto}
.subscription-widget{margin-bottom:33px;padding:20px 15px 30px;background-color:#c4ebe7;text-align:center}
.subscription-widget h3{margin:5px 0 15px;font-size:40px;font-weight:900;line-height:40px}
.subscription-widget p{margin-bottom:20px;font-size:16px;line-height:21px}
.subscription-widget form input[type=text]{margin-bottom:20px;padding:8px;width:170px;height:35px;border:1px solid #008f7e;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.subscription-widget form input[type=text]:focus{-webkit-box-shadow:0 0 10 0 rgba(0,0,0,.75);box-shadow:0 0 10 0 rgba(0,0,0,.75)}
.subscription-widget form input[type=submit]{padding:3px 16px;background-color:#000;color:#9defe0;font-size:18px;font-weight:700;line-height:26px;border:none;cursor:pointer;-webkit-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.subscription-widget form input[type=submit]:hover{opacity:.7}