/* Global */
body {
  padding-top: 60px;
  border-left-width: 6px;
  border-right-width: 6px; 
}

body:after,
body:before {
  height: 6px;
}

.container {
  padding: 0 20px;
}

/* Header */
header.main-header {
  border-width: 6px;
  transition: none;
}

header.main-header .inner-header,
.sticky-header header.main-header .inner-header {
  padding: 10px 20px;
  height: 60px;
}

header.main-header .inner-header .menu {
  display: none;
}

header.main-header .inner-header .logo img {
  max-width: 146px;
}

header.main-header .inner-header .menu-burger-mobile {
  display: block;
}


/* Article */
.article-feature,
.article-legal,
.article-single {
  margin-top: 30px;
  display: block;
}

.article-single-col,
.article-legal-col,
.article-feature-col {
	display: block;
}

.article-legal-col .article-main,
.article-single-col .article-main {
  width: 100%;
}

.article-single-sidebar {
  margin: 0;
  max-width: 335px;
}

.article-section {
  flex-direction: column;
}

.article-single .article-header {
  margin-bottom: 30px;
}

.article-footer {
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}

.media-aside {
  margin: 0;
  width: 100%;
  order: 1;
}

.main-content {
  margin-bottom: 74px;
  order: 2;
}

.article-share {
  text-align: right;
  border-bottom: 0;
}

.article-share .icon-arrow-down-bold {
  display: none;
}

.article-single-sidebar {
  max-width: 100%;
  width: 100%;
}

/* Article Featured */
main.article-feature .headline h1 {
  font-size: 50px;
  line-height: 52px;
}

main.article-feature .main-content,
main.article-feature .media-aside {
  order: unset;
}

main.article-feature .media-aside ul.socials-list {
  text-align: center;
}


/* Article Legal */
main.article-legal .headline h1 {
  font-size: 34px;
  line-height: 36px;
}


/* Article Slider */
.posts-widget-slider .articles-slider-arrow {
  top: -45px;
  font-size: 28px;
  color: #0DBFA7;
}

.posts-widget-slider .articles-slider-arrow.slick-disabled {
  color: #BEBEBE;
}

.posts-widget-slider .articles-slider-arrow.articles-slider-arrow-left {  
  left: 0;
}

.posts-widget-slider .articles-slider-arrow.articles-slider-arrow-right {
  left: 37px;
  right: 0;
  text-align: left;
}

.posts-widget h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.posts-widget-slider .post-item {
  margin-right: 15px;
  border-top: 0;
  border-bottom: 1px solid #ccc;
}

/* Article Info */
.article-media-mobile {
  padding: 0 6px;
  width: 100vw;
  position: relative;
  top: -24px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.article-media-mobile .caption {
  padding: 0 20px;
}

.label a {
  font-size: 16px;
}

.headline h1 {
  font-size: 34px;
  line-height: 36px;
}

.date {
  margin-bottom: 30px;
}

.media img {
  height: auto;
}


/* Text Content */
.text-content h3 {
  font-size: 24px;
  line-height: 30px;
}

.wp-caption img {
  height: auto;
}


/* Footer */
footer.main-footer {
  padding: 0 20px;
}

footer.main-footer .inner-footer .footer-item {
  display: block;
}

footer.main-footer .inner-footer .footer-top {
  border: none;
}

footer.main-footer .inner-footer .footer-top-socials {
  display: flex;
  flex-direction: column;
}

footer.main-footer .inner-footer .footer-top-socials .btn-donation-white {
  max-width: 165px;
  margin: auto;
  width: 100%;
  text-align: center;
  order: 2;
}

footer.main-footer .inner-footer .footer-top-socials .footer-socials {
  margin: 43px auto 18px;
  width: 100%;
  order: 1;
  text-align: center;
}

footer.main-footer .inner-footer .footer-top .footer-top-logo {
  text-align: center;
}

footer.main-footer .inner-footer .footer-menu {
  display: none;
}

footer.main-footer .inner-footer .footer-subscription {
  text-align: center;
}

footer.main-footer .inner-footer .footer-subscription input[type=text] {
  max-width: 221px;
  width: 100%;
}

.footer-middle-subscribe p {
  font-weight: 100;
  text-align: center;
}

footer.main-footer .inner-footer .footer-bottom .copyright {
  margin: 40px 0 0;
}


/* Abous US */
main.page .page-header .page-header-inner {
  margin-bottom: 0;
  padding-bottom: 25px;
  min-height: 45vh;
}

main.page .page-header h1 {
  font-size: 40px;
  line-height: 42px;
}

.page-main {
  margin-top: 15px;
  flex-direction: column;
}

.aside-page-navigation {
  width: 100%;
  order: 1;
}

.page-content-section {
  margin: 0;
  width: 100%;
  order: 2;
}

.aside-page-navigation-list.about-nav-slider {
  position: relative;
  margin-bottom: 40px;
  width: calc(100% + 20px);
  border-bottom: 1px solid #ccc;
}

.aside-page-navigation-list.about-nav-slider ul {
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
}

.aside-page-navigation-list.about-nav-slider ul li,
.aside-page-navigation-list.about-nav-slider ul li:last-child {
  margin-left: 25px;
  padding: 0  0 15px;
  display: inline-block;
  border: none;
}


/* Contact US */
.mobile .contact-us-form {
  padding: 50px 20px;
}

.mobile .contact-us-form .contact-us-form-row span {
  margin-left: 0;
  flex: 0 100%;
}


/* Btn */
.btn-large {
  margin: 0 0 40px 0;
  padding: 30px;
  font-size: 35px !important;
  line-height: 35px !important;
}

.btn-large br {
  display: none;
}


/* Arhive */
.archive-header {
  background-size: cover;
}

.archive-header h1 {
  font-size: 40px;
  line-height: 42px;
}

.archive-articles {
  margin-right: 0;
  width: 100%;;
}

.archive-main  {
  display: block;
}

.archive-description {
  padding: 0 20px;
}

.archive-article {
  display: block;
}

.archive-article .img-preview,
.archive-article .img-preview a img {
  width: 100%;
  height: auto;
}

.filters {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 5px 20px;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  z-index: 20;
}

.filters h2 {
  margin: 11px 33px;
}

.filters .filter-mobile-close-btn,
.filters .filter-mobile-submit-btn {
  display: inline-block !important;
}

.filters .filter-mobile-reset-btn {
  display: block !important;
}

.filters .filter-mobile-reset-btn {
  position: absolute;
  margin: 15px 38px;
  left: 0;
  color: #0DBFA7;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: underline;
}

.filters .filter-mobile-close-btn {
  height: 40px;
}

.filters .filter-mobile-close-btn::before {
  content: "\e924";
  position: absolute;
  top: 15px;
  right: 38px;
  color: #0DBFA7;
  font-size: 40px;
  font-family: 'Gisha' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter-mobile-open-filters-btn {
  display: inline-block !important;
  position: relative;
  margin-left: 17px;
  padding: 5px 16px 5px 40px;
  height: 28px;
  display: inline-block;
  border: 1px solid #0dbfa7;
  cursor: pointer;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  transition: .3s all;
  user-select: none;
}

.filters .filter-item {
  margin: 0 33px;
}

.filters .filter-mobile-submit-btn {
  padding: 20px 10px;
  max-width: 375px;
  width: 100%;
  height: 55px;
  color: #C4EBE7;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

.filters-selected-remove-btn {
  display: none !important;
}

.filters-selected {
  display: flex !important;
}

.filters .custom-select._type_selected .custom-select-inner {
  background-color: #000;
}


/* Archive About */
.archive.about .archive-articles {
  order: 2;
}

.archive.about .archive-article {
  display: flex;
}

.archive.about .archive-header-inner {
  margin-bottom: 0;
  padding-bottom: 25px;
  min-height: 45vh;
}

/* Page */
.page-header {
  background-size: cover;
}


/* Homepage */
.homepage .home-header-mobile .home-header-inner {
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
}

.homepage .home-articles.container {
  margin: auto;
}

.homepage .home-header {
  min-height: 55vh;
}

.homepage .home-header-inner > .headline {
  margin: 0;
  padding: 28px 45px 0;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.homepage .home-header-inner > .underline {
  margin: 0;
  padding: 5px 30px 30px;
  font-size: 21px;
  line-height: 28px;
  color: #000;
  text-align: center;
  font-weight: normal;
}

.homepage .home-header .home-header-inner h1 {
  font-size: 52px;
  line-height: 55px;
}

.homepage .home-header .home-header-inner .underline {
  font-size: 24px;
  font-size: 25px;
}

.homepage .home-article-full-img {
  width: 100%;
}

.homepage .home-articles-list {
  flex-direction: column;
}

.homepage .home-articles-list .home-articles-item.feature .img {
  margin-bottom: 24px;
}

.homepage .home-articles-list .home-articles-item.featured .headline {
  margin-bottom: 8px;
  font-size: 35px;
  font-weight: 900;
  line-height: 37px;
}

.homepage .home-articles-list .home-articles-item.featured .underline {
  margin-bottom: 9px;
  display: block;
}

.homepage .home-articles-list .home-articles-item {
  margin: auto;
  padding-top: 30px;
  width: 100%;
}

.homepage .home-articles-list .home-articles-item .headline {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 24px;
}

.homepage .home-articles-list .home-articles-item .underline {
  display: none;
}

.homepage .home-articles-list .home-articles-item .date {
  margin-bottom: 20px;
  position: static;
}

.homepage .latest-articles-header {
  margin-bottom: 0;
}

.homepage .latest-articles-header-text {
  margin-bottom: 0;
  font-size: 30px;
}

.homepage .latest-articles-header-link {
  display: none;
}

.homepage .latest-articles-header-mobile-link {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.homepage .latest-articles-header-mobile-link a {
  display: block;
}

.latest-articles {
  margin: 30px auto;
}


/* Banners */
.homepage .home-banners {
  margin: 30px auto;
  display: block;
}

.homepage .col-half {
  margin: 30px auto 0;
  width: 100%;
}

.homepage .subscription-banner {
  padding: 23px 24px 23px;
}

.homepage .subscription-banner h3 {
  font-size: 40px;
  line-height: 40px;
}

.homepage .subscription-banner p {
  font-size: 16px;
  line-height: 21px;
}

.homepage .donation-banner-content {
  padding: 25px 20px 23px;
  text-align: center;
}

.homepage .donation-banner-triangle {
  display: none;
}

.homepage .donation-banner h3 {
  font-size: 40px;
  line-height: 40px;
}

.homepage .donation-banner p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}


/* Slider */
.articles-slider._backround_gray {
  margin-top: 30px;
}

.homepage .articles-slider {
  padding: 75px 0 70px;
  width: 100%;
}

.homepage .articles-slider .articles-slider-arrow {
  top: -49px;
  color: #0DBFA7;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
}

.homepage  .articles-slider .slick-initialized .slick-arrow.slick-disabled {
  color: #BEBEBE;
  opacity: 1;
}

.homepage .articles-slider .articles-slider-arrow-left {
  left: 20px;
}

.homepage .articles-slider .articles-slider-arrow-right {
  right: 20px;
}

.homepage .articles-slide.home-article-full {
  display: block;
}

.homepage .articles-slide.home-article-full .home-article-full-img {
  margin: 0;
  width: 100%;
}

.homepage .home-article-full-content {
  margin: auto;
  width: 100%;
  border-bottom: none;
}

.homepage .home-article-full-content .labels-list {
  position: relative;
  top: -28px;
}

.homepage .home-article-full-content .labels-list .labels-home {
  margin: 0;
}

.homepage .home-article-full .headline h2 {
  font-size: 24px;
  line-height: 26px;
}

.homepage .home-article-full .underline {
  display: none;
}

.homepage .home-article-full .date {
  position: static;
  color: #BEBEBE;
}

.homepage .articles-slider-dots {
  position: absolute;
  top: -58px;
  left: 0;
  right: 0;
  margin: 16px auto 0;
  padding: 0;
  width: 70%;
}