$main_color: #008f7e;
$second_color: #0dbfa7;
$third_color: #9defe0;


/* Single Article */
$single_headline_font_size: 60px;
$single_headline_line_height: 60px;
$single_headline_color: #000;

$single_underline_font_size: 20px;
$single_underline_line_height: 24px;
$single_underline_color: #797979;