/* Global */
*,
:after,
:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: $main_font;
  direction: $direction;

  &[lang="en"] {
    direction: ltr;
  }

  &[lang="ar"] {
    font-family: $ar_main_font;

    input,
    textarea {
      font-family: $ar_main_font;
    }
  }
}

body {
  padding-top: 120px;
  border-left: 12px solid $second_color;
  border-right: 12px solid $second_color; 
}

body.article-type-special,
body.topic-type-special,
body.page-type-about,
body.transparent-header {
  padding-top: 0;
}

body.mobile-menu-active {
  border: none;
  overflow: hidden;
}

body.mobile-menu-active:after,
body.mobile-menu-active:before {
  height: 0;
}

/* Input */
input[type="text"],
input[type="email"],
textarea {
  color: #000 !important;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

/* Border */
body:before,
body:after {
  content: "";
  position: fixed;
  background: $second_color;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 16;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

input,
textarea {
  font-family: $main_font;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  outline: 0;
}

.container {
  margin: 60px auto 40px;
	width: 100%;
  max-width: 1160px;
}

._container_padding {
  padding: 60px 0;
}

._display_flex {
  display: flex;
}

._width_full {
  width: 100%;
}

.col-half {
  width: 50%;
}

._align_center {
	text-align: center;
}

._align_default {
  text-align: initial;
}

._margin_auto {
  margin: auto !important;
}

._margin_auto_in > * {
  margin: auto; 
}

._margin_right_none {
  margin-right: 0 !important;
}

._magrin_bottom_none {
  margin-bottom: 0 !important;
}

._padding_none {
  padding: 0;
}

._backround_gray {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #EDF1EE;
}

._backround_red {
  background-color: #FA5454 !important;
}

a.underline-link {
  text-decoration: underline;
}

a.underline-link:hover {
  text-decoration: none !important;
}

.salamandra > div:last-child {
  margin-bottom: 40px !important;
}