/* Global */
*,
:after,
:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: 'Narkiss Block';
	direction: rtl;
}

body {
  padding-top: 120px;
}

body.article-type-special,
body.topic-type-special,
body.page-type-about {
  padding-top: 0;
}

/* Border */
body:before,
body:after {
  content: "";
  position: fixed;
  background: #0DBFA7;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 16;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
  border-left: 12px solid #0DBFA7;
  border-right: 12px solid #0DBFA7;  
}

input,
textarea {
  font-family: 'Narkiss Block';
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  outline: 0;
}

.container {
  margin: 60px auto;
	width: 100%;
  max-width: 1160px;
}

._display_flex {
  display: flex;
}

._width_full {
  width: 100%;
}

._align_center {
	text-align: center;
}

._align_default {
  text-align: initial;
}

._margin_auto {
  margin: auto !important;
}

._margin_auto_in > * {
  margin: auto; 
}

._margin_right_none {
  margin-right: 0 !important;
}

._magrin_bottom_none {
  margin-bottom: 0 !important;
}

._backround_red {
  background-color: #FA5454 !important;
}

a.underline-link {
  text-decoration: underline;
}

a.underline-link:hover {
  text-decoration: none !important;
}