/* Icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Gisha' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\ea18";
}

.icon-english:before {
  content: "\e955";
}
.icon-hebrew:before {
  content: "\e956";
}
.icon-arabic:before {
  content: "\e957";
}

.icon-facebook:before {
  content: "\e915";
}

.icon-twitter:before {
  content: "\e914";
}

.icon-arrow-down:before {
  content: "\ea16";
}

.icon-arrow-down-bold:before {
  content: "\ea17";
}

.icon-instagram-copy:before {
  content: "\e96c";
}

.icon-mail:before {
  content: "\e919";
}

.icon-whatsapp:before {
  content: "\e913";
}

.icon-close-search:before {
  content: "\e90c";
}

.icon-mobile-menu:before {
  content: "\e923";
}

.icon-close-menu:before,
._menu-burger_active .menu-burger span:before {
  content: "\e924";  
}

._type_link .icon-media:before {
  content: "\e966";
}

._type_document .icon-media:before {
    content: "\e968";
}

.icon-media {
  padding-left: 20px;
  font-size: 20px;
  line-height: 20px;
}