/* Article */
.article-single,
.article-feature,
.article-legal {
  display: flex;
}

.article-single-col {
	width: 880px;
}

.article-single-sidebar {
	margin-right: 80px;
	width: 200px;
}

.article-header {
	margin-bottom: 45px;
}

.label {
	margin-bottom: 20px;
}

.label a {
	margin-bottom: 20px;
	color: #0DBFA7;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: .3s all;
}

.label a:hover {
	border-bottom: 2px solid #0DBFA7;
}

.headline h1 {
	margin: 5px 0 20px;
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;
}

.underline {
	margin: 5px 0 20px;
	color: #797979;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.date {
	margin: 5px 0 52px;
	color: #74737C;
	font-family: "Miriam Libre";
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 15px;
}

.media .caption {
	margin: 7px 0;
	color: #74737C;
	font-size: 16px;
	line-height: 20px;
}

.article-section {
	display: flex;
}

.main-content {
	margin-bottom: 100px;
	max-width: 600px;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

.media-aside {
  margin-top: 8px;
	margin-left: 70px;
	width: 200px;
}

.article-share {
	padding: 20px 0 19px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.article-share ul {
	margin: 0 0 9px;
	padding: 0;
}

.article-share ul li {
	margin-left: -4px;
	margin-right: 13px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #0DBFA7;
  	border-radius: 20px;
  	text-align: center;
	list-style: none;
	cursor: pointer;
	transition: .3s all ease-in-out;
}

.article-share ul li:first-child {
	margin-right: 0;
}

.article-share ul li:hover {
	background-color: #0DBFA7;
}

.article-share ul li:hover a {
	color: #fff;
}

.article-share ul li a {
	color: #0DBFA7;
	font-size: 18px;
	line-height: 38px;
	text-decoration: none;
	transition: .3s all ease-in-out;
}

.article-share .icon-arrow-down-bold {
	color: #0DBFA7;
	font-size: 24px;
	text-decoration: none;
	transition: .3s all;
}

.article-share .icon-arrow-down-bold:hover {
	opacity: .5;
}

.article-media ul {
	margin: 0;
	padding: 0;
}

.article-media ul li {
	padding: 18px 0;
	list-style: none;
	border-bottom: 1px solid #ccc;
	transition: .3s all ease-in-out;
}

.article-media ul li a {
	position: relative;
	color: #0DBFA7;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

.article-media ul li:hover {
	opacity: .5;
}

.article-media ul li a span {
	position: relative;
	top: 2px;
	padding-left: 17px;
  font-size: 20px;
  line-height: 20px;
}

.article-media ul li a._type_empty span {
	padding-left: 0;
}

/* Article Footer */
.article-footer {
  margin: 10px auto 60px;
  max-width: 600px;
  border-top: 1px solid #ccc;
}

/* Feature */
.article-feature-col {
	max-width: 1160px;
}

.article-feature .headline h1 {
	margin-bottom: 16px;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}

.article-feature .date {
	margin-bottom: 45px;
}

/* Legal */
.article-legal .article-header {
	margin-bottom: 37px;	
}

.article-legal .headline h1 {
  margin: 27px 0 28px;
  color: #008F7E;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.article-legal .date {
	margin-bottom: 37px;
}

.article-legal .article-single-sidebar {
  margin-top: 4px;
}

/* Special */
.article-special.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 100%;
  overflow: hidden;
}

.article-special .article-header {
  position: relative;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.article-special .article-header .article-header-inner {
	margin: auto;
	position: relative;
	max-width: 1160px;
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.article-special .article-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.article-special .headline h1 {
	position: relative;
	margin: 0 auto 11px;
	max-width: 980px;
	color: #fff;
	font-size: 120px;
  font-weight: 900;
  line-height: 120px;
  z-index: 11;
}

.article-special .underline {
	position: relative;
	margin: 0 auto 25px;
	max-width: 980px;
	color: #fff;
	font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  z-index: 11;
}

.article-special .date {
	position: relative;
	color: #fff;
	z-index: 11;
}

.article-special .article-section {
	margin: 0 auto;
	max-width: 1160px;
}

.article-special .special-img-caption {
	position: absolute;
	bottom: -28px;
	color: #74737C;
  font-size: 16px;
  line-height: 20px;
}


/* Article Special Section */
.article-special-section {
  padding: 31px 0 60px;
  border-top: 1px solid #ccc;
}

.special-header .special-header-meta {
  margin: auto;
  max-width: 600px;
}

.header-image {
  text-align: center;
}

.special-header .pre-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.special-header .title {
  margin-bottom: 25px;
  font-size: 70px;
  font-weight: bold;
  line-height: 79px;
}

.special-header .subtitle {
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
}

.special-header .header-image .caption {
  margin: 0 0 30px;
  color: #74737C;
  font-size: 16px;
  line-height: 20px;  
}

.article-special .article-preview,
.article-special .text-content {
  margin: auto;
  max-width: 600px;
  border-bottom: none;
}

.article-special-main .text-content {
  margin-left: 0;
}

.article-special .article-single-sidebar {
  margin-top: 84px;
}

.article-special-main,
.special-header {
  margin: 0 auto;
  padding-bottom: 0;
  max-width: 1160px;
}

.article-special-main {
  margin-bottom: 29px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.full-width-caption {
  margin: 7px auto 0;
  max-width: 1160px;
  color: #74737C;
  font-size: 16px;
  line-height: 20px;
}