.contact-us-text {
    margin-top: 70px;
    
	p {
		color: #000;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
	}
}


/* Arabic */
body {
	&.ar {
		.contact-us-text {			
			p {
				font-size: 15px;
				line-height: 30px;
			}
		}
	}
}