.page-header {
	position: relative;
	text-align: center;
	padding-top: 17px;
	background-size: cover;
  background-repeat: no-repeat;

	&._type_white {
		.page-header-inner {
			margin: auto;
			margin-bottom: 59px;
			padding-bottom: 73px;
			position: relative;
			max-width: 1160px;
			min-height: 580px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			color: #fff;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			z-index: 10;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, .5);
			z-index: 10;
    }
    
		h1 {
			color: #fff;
		}
  }
  
	h1 {
		margin: 0 0 10px;
		color: $second_color;
		font-size: 72px;
		font-weight: 900;
		line-height: 72px;
	}
}

.page-main {
	margin-top: 81px;
	display: flex;
	&._margin_small {
		margin-top: 60px;
	}
}

.page-content-section {
	margin: 0 110px 0 0;
	width: 750px;
}

.page-content-full-width {
	margin: auto;
	max-width: 750px;
	width: 100%;
}

.page-content {
	h2 {
		margin-top: 0;
		color: #000;
		font-size: 48px;
		font-weight: bold;
		line-height: 48px;
  }
  
	h3 {
		margin-top: 10px;
		margin-bottom: 15px;
		color: #000;
		font-size: 30px;
		font-weight: bold;
		line-height: 32px;
  }
  
	h4 {
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
  }
  
	p {
		margin-bottom: 30px;
		color: #000;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
  
	._bold_content {
		margin-top: 11px;
		margin-bottom: 42px;
		color: #393745;
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;
  	}

  	strong {
  		font-weight: bold;
  	}
  
	a {
		color: $second_color;
		font-size: 20px;
		line-height: 30px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.page-title {
	margin: 0 0 60px;
	font-size: 48px;
	font-weight: bold;
	line-height: 48px;
}

.page-type-404 {
	padding: 120px 0 90px;
	background-color: #71E1C5;
	color: #333;
	font-size: 24px;
	line-height: 24px;
}


/* English */
body {
	&.en {
		.page-content-section {
			margin: 0 0 0 110px;
		}
	}
}


/* Arabic */
body {
	&.ar {
		.page-header {
			h1 {
				font-size: 60px;
				line-height: 90px;
			}
		}

		.page-content {
			h2 {
				font-size: 42px;
				line-height: 66px;
			}

			h3 {
				font-size: 26px;
				line-height: 36px;
			}
		}

		.page-title {
			font-size: 42px;
			line-height: 66px;
		}
	}
}