.donation-widget {
	padding: 20px 10px 30px;
	background-color: $main_color;
	color: #fff;
	text-align: center;

	h3 {
		margin: 5px 0 0;
		font-size: 40px;
		font-weight: 900;
		line-height: 40px;
	}
	
	p {
		margin-top: 10px;
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 21px;
	}
}


/* English */
body {
	&.en {
		.donation-widget {
			padding: 20px 15px 30px;

			h3 {
				font-size: 30px;
				line-height: 30px;
				text-transform: uppercase;
			}

			.btn-donation {
				text-transform: uppercase;
			}
		}
	}
}


/* Arabic */
body {
	&.ar {
		.donation-widget {
			padding: 30px 15px 45px;

			h3 {
				font-size: 24px;
				line-height: 38px;
			}

			p {
				margin-bottom: 25px;
				font-size: 13px;
				line-height: 21px;
			}

			.btn-donation {
				padding: 1px 25px;
			}
		}
	}
}