.related-posts-widget {
	h2 {
		margin: 0 0 9px;
		font-size: 24px;
		font-weight: bold;
		line-height: 24px;
	}

	.post-item {
		padding: 30px 0 10px;
		border-top: 1px solid #ccc;
		&:last-child {
			margin-bottom: 60px;
			border-bottom: 1px solid #ccc;
		}

		div {
			position: relative;
			margin-bottom: 21px;
			width: 200px;
			height: 133px;
		}

		.post-item-img {
			display: block;
			height: 100%;
			overflow: hidden;

			img {
				transition: transform .5s ease;
			}
			&:hover {
				img {
					transform: scale(1.15);
					backface-visibility: hidden;
				}
			}
		}

		.post-item-link {
			color: $second_color;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
		}

		p {
			margin-bottom: 11px;
			color: #393746;
			font-size: 18px;
			font-weight: bold;
			line-height: 20px;
			&:hover {
				text-decoration: underline;
			}
		}
		&.no-img {
			padding: 60px 0 18px;
			
			div {
				width: auto;
				height: auto;
			}
		}
	}
}


/* Arabic */
body {
	&.ar {
		.related-posts-widget {
			h2 {
				font-size: 20px;
      	line-height: 30px;
			}
					
			.post-item {				
				.post-item-link {
					font-size: 16px;
					line-height: 24px;
				}

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
}