.subscription-widget {
	margin-bottom: 33px;
	padding: 20px 15px 30px;
	background-color: #C4EBE7;
  text-align: center;
  
	h3 {
		margin: 5px 0 0;
		font-size: 40px;
		font-weight: 900;
		line-height: 40px;
  	}
  
	p {
		margin-top: 8px;
		margin-bottom: 19px;
		font-size: 16px;
		line-height: 21px;
  	}
  
	form {
		input[type="text"] {
			margin-bottom: 20px;
			padding: 8px;
			width: 170px;
			height: 35px;
			border: 1px solid $main_color;
			transition: .3s all ease-in-out;
    	}
    
		input[type="text"]:focus {
			box-shadow: 0 0 10 0 rgba(0, 0, 0, 0.75);
   		}
    
		input[type="submit"] {
			padding: 3px 16px;
			background-color: #000;
			color: $third_color;
			font-size: 18px;
			font-weight: bold;
			line-height: 26px;
			border: none;
			cursor: pointer;
			transition: .3s all ease-in-out;
    	}
    
		input[type="submit"]:hover {
			opacity: .7;
		}
	}
}


/* English */
body {
	&.en {
		.subscription-widget {
			h3 {
				font-size: 30px;
				line-height: 30px;
				text-transform: uppercase;
			}

			input[type="submit"] {
				text-transform: uppercase;
			}
		}
	}
}


/* Arabic */
body {
	&.ar {
		.subscription-widget {
			h3 {
				font-size: 32px;
				line-height: 42px;
			}
		}
	}
}