.text-content {
	border-bottom: 1px solid #ccc;

	.alignright {
		float: right;
		margin-left: 20px;
    width: 50%;    
	}

	.alignleft {
		float: left;
		margin-right: 20px;
    width: 50%;    
	}

	p {
		margin: 0 0 30px;
		color: #000;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		
		&.small {
			font-size: 16px;
			line-height: 20px;
			font-weight: normal;
		}
	}

	a {
		color: #238f7f;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	h3 {
		margin: 10px 0 30px;
		font-size: 30px;
		font-weight: bold;
		line-height: 32px;
	}

	h4 {
		margin: 0;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.media {
		&.media-video {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 25px;
			max-width: 100%;

			embed,
			iframe,
			object {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&.media-map {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 25px;
			max-width: 100%;

			iframe {
				position: absolute;
    		top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			position: relative;
			padding-right: 30px;			
			&::before {
				content: "";
				position: absolute;
				top: 11px;
				right: 0;
				width: 8px;
				height: 8px;
				background-color: $second_color;
				border-radius: 50%;
			}
		}
	}
}

.wp-caption {
	margin-bottom: 30px;
}

.wp-caption-text {
	color: #74737C;
	font-size: 16px;
	line-height: 20px;
}

.article-special {
	.text-content {
		h3 {
			margin-top: 30px;
			font-size: 40px;
			font-weight: bold;
			line-height: 42px;
		}
	}
}


/* Arabic */
body {
	&.ar {
		.text-content {
			h3 {
				font-size: 26px;
				line-height: 36px;
			}
		}
	}
}