footer {
	&.main-footer {
		margin-top: 40px;
		width: 100%;
		background-color: $main_color;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
			}
		}

		.inner-footer {
			max-width: 1157px;
			margin: auto;
			padding-top: 32px;
			padding-bottom: 35px;

			.footer-item {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
			}

			.footer-top {
				margin-bottom: 43px;
    			padding-bottom: 34px;
				border-bottom: 1px solid rgba(255,255,255,0.2);

				.footer-top-logo {
					font-size: 0;
	
					a {
						transition: .3s all;
						&:hover {
							opacity: .7;
						}
					}
				}
			}

			.footer-bottom {
				padding-top: 8px;
				
				.copyright {
					margin: 52px 0 0;
					color: #FFFFFF;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
				}
			}
		}
	}
}

body {
	&.error404 {
		footer {
			&.main-footer {
				margin-top: 0;
			}
		}
	}
}

/* English */
body {
	&.en {
		footer {
			&.main-footer {
				.inner-footer {
					.footer-bottom {
						.copyright {
							margin: auto;
							max-width: 650px;
						}
					}
				}
			}
		}		
	}
}

/* Arabic */
body {
	&.ar {
		footer {
			&.main-footer {
				.inner-footer {
					.footer-bottom {
						.copyright {
							font-size: 11px;
							line-height: 21px;
						}
					}

					ul {
						li {
							line-height: 42px;
						}
					}
				}
			}
		}
	}
}