/* Header Main */
header {
	&.main-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border: 12px solid $second_color;
		border-bottom: none;
		background-color: $main_color;
		z-index: 15;
		transition: .3s all;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			user-select: none;

			li {
				display: inline-block;
				user-select: none;
			}
		}

		.inner-header {
			padding: 20px 28px 17px 35px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 120px;
			transition: none;

			.logo {
				font-size: 0;
				
				a {
					transition: .3s all;
					&:hover {
						opacity: .7;
					}
				}
			}

			.top-menu {
				margin-bottom: 24px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			.menu-burger,
			.menu-burger-mobile {
				padding-right: 35px;
				display: none;
				
				span {
					display: inline-block;
					width: 21px;
					color: #fff;
					font-size: 28px;
					line-height: 30px;
					cursor: pointer;
					transition: .3s all;
					user-select: none;
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
}


/* Sticky */
.sticky-header {
	header {
		&.main-header {
			.inner-header {
				padding: 10px 35px;
				height: 60px;
				transition: .3s all;
			}

			.logo {
				img {
					height: 40px;
					transition: .3s all ease-in-out;
				}
			}

			.bottom-menu {
				display: none;
			}

			.top-menu {
				margin-bottom: 0;
			}

			.menu-burger {
				display: block;
			}
		}
	}
}


/* Burger Active */
header {
	&.main-header {
		&._menu-burger_active {
			.inner-header {
				padding: 15px 28px 17px 35px;
				height: 120px;
				transition: none;
			}

			.logo {
				height: 100%;
			}

			.top-menu {
				margin-bottom: 25px;
			}

			.bottom-menu {
				display: none;
			}
		}
	}
}


/* Header Small */
header {
	&.main-header {
		&.main-header-small {
			position: absolute;
			background: none;

			.inner-header {
				height: 88px;
			}

			.top-menu {
				margin-bottom: 0;
			}
		}
	}
}


/* Topic Special */
.transparent-header header {
	background: transparent;
	&._background_green {
		background-color: $main_color;
	}
}


/* English */
body {
	&.en {
		header {
			&.main-header {
				.inner-header {
					padding: 20px 35px 17px 28px;

					.menu-burger,
					.menu-burger-mobile {
						padding-left: 35px;
						padding-right: 0;
					}
				}
			}
		}
	}
}