/* Header */
header.main-header {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 12px solid #0dbfa7;
  border-bottom: none;
  background-color: #008F7E;
  z-index: 15;
}

header.main-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	user-select: none;
}

header.main-header ul li {
	display: inline-block;
	user-select: none;
}

.inner-header {
	padding: 20px 28px 17px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  transition: none;
}

.logo {
	font-size: 0;
}

.logo a {
	transition: .3s all;
}

.logo a:hover {
	opacity: .7;
}

.top-menu {
	margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-burger {
	padding-right: 35px;
	display: none;
}

.menu-burger span {
	display: inline-block;
	width: 21px;
	color: #fff;
  font-size: 28px;
  line-height: 30px;
  cursor: pointer;
  transition: .3s all;
  user-select: none;
}

.menu-burger span:hover {
	opacity: .7;
}

/* Sticky */
.sticky-header header.main-header .inner-header {
	padding: 10px 35px;
	height: 60px;
	transition: .3s all;
}

.sticky-header header.main-header .logo img {
	height: 40px;
}

.sticky-header header.main-header .bottom-menu {
	display: none;
}

.sticky-header header.main-header .top-menu {
  margin-bottom: 0;
}

.sticky-header header.main-header .menu-burger {
	display: block;
}


/* Burger Active */
header.main-header._menu-burger_active .inner-header {
	padding: 20px 28px 17px 35px;
	height: 120px;
	transition: none;
}

header.main-header._menu-burger_active .logo {
	height: 100%;
}

header.main-header._menu-burger_active .top-menu {
	margin-bottom: 25px;
}

header.main-header._menu-burger_active .bottom-menu {
	display: none;
}


/* Header Small */
header.main-header.main-header-small {
  background: none;
}

header.main-header.main-header-small .inner-header {
  height: 88px;
}

.main-header-small .top-menu {
  margin-bottom: 0;
}